Repository openshift-assisted/assisted-installer-ui, pull requests merged in 2023-12, with the labels that each got.

#2444 MGMT-15125: Remove singular VIPs, continue to use the plural ones - followup
  libs/types/assisted-installer-service.d.ts
  libs/ui-lib/lib/cim/components/ClusterDeployment/networkConfigurationValidation.ts
  libs/ui-lib/lib/cim/components/helpers/toAssisted.ts
  libs/ui-lib/lib/common/components/clusterWizard/networkingSteps/VirtualIPControlGroup.tsx
  libs/ui-lib/lib/common/types/clusters.ts
Labels: lgtm, size/M, OCM, jira/valid-reference

#2440 MGMT-15919: If day1 cluster is ARM cpu arch, then only ARM nodes can be added in Day2 - followup
  libs/ui-lib/lib/ocm/components/clusterConfiguration/CpuArchitectureDropdown.tsx
Labels: size/S, OCM, jira/valid-reference

#2450 MGMT-16354: Problem adding hosts when platform type is not none,baremetal,nutanix,vsphere,oci
  libs/ui-lib/lib/ocm/services/Day2ClusterService.ts
Labels: lgtm, size/S, OCM, jira/valid-reference

#2451 MGMT-16354: Problem adding hosts when platform type is not baremetal,nutanix,vsphere,none,oci - 2.28
  libs/ui-lib/lib/ocm/services/Day2ClusterService.ts
Labels: lgtm, size/S, OCM, jira/valid-reference

#2448 update peer dependencies
  libs/ui-lib/package.json
  yarn.lock
Labels: size/S

#2452 MGMT-16360: Add storage info in host discovery step
  libs/ui-lib/lib/common/components/hosts/HostRowDetail.tsx
  libs/ui-lib/lib/ocm/components/hosts/HostsDiscoveryTable.tsx
Labels: size/S, OCM, jira/valid-reference

#2453 MGMT-16392: NTP text box allows to add empty string and browser freeze
  libs/ui-lib/lib/common/components/ui/formik/AdditionalNTPSourcesField.tsx
  libs/ui-lib/lib/common/components/ui/formik/validationSchemas.ts
Labels: size/XS, OCM, jira/valid-reference

#2446 MGMT-15692: Use the new API to define oci platform
  libs/types/assisted-installer-service.d.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/constants.tsx
Labels: lgtm, size/S, OCM, jira/valid-reference

#2455 MGMT-16197: Change the way to download kubeconfig logs
  libs/ui-lib/lib/common/components/clusterDetail/KubeconfigDownload.tsx
  libs/ui-lib/lib/common/utils.ts
  libs/ui-lib/lib/ocm/components/clusterDetail/utils.tsx
Labels: lgtm, size/M, OCM, jira/valid-reference

#2458 MGMT-16197: Change the way to download kubeconfig logs - followup
  libs/ui-lib/lib/common/utils.ts
Labels: lgtm, size/XS, OCM, jira/valid-reference

#2457 MGMT-15692: Use the new API to define oci platform - followup
  libs/types/assisted-installer-service.d.ts
  libs/ui-lib-tests/cypress/fixtures/cluster/external-platform-types.ts
  libs/ui-lib/lib/common/api/assisted-service/NewFeatureSupportLevelsAPI.ts
  libs/ui-lib/lib/common/types/clusters.ts
  libs/ui-lib/lib/ocm/components/AddHosts/day2Wizard/Day2ClusterDetails.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/DiscoveryImageForm.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmClusterDetailsFormFields.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfiguration.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/ExternalPlatformDropdown.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/constants.tsx
  libs/ui-lib/lib/ocm/components/utils.ts
  libs/ui-lib/lib/ocm/services/ClusterDetailsService.ts
  libs/ui-lib/lib/ocm/services/ClustersService.ts
  libs/ui-lib/lib/ocm/services/Day2ClusterService.ts
Labels: size/M, OCM, jira/valid-reference
