Repository openshift-assisted/assisted-installer-ui, pull requests merged in 2023-02, with the labels that each got.

#1900 MGMT-11073: Block hostname field while action is in progress
  package.json
  src/common/components/hosts/EditHostForm.tsx
Labels: OCM, jira/valid-reference

#1817 Hostnames over 64 characters are not allowed
  src/cim/components/Agent/BMCForm.tsx
  src/common/components/hosts/EditHostForm.tsx
  src/common/components/hosts/MassChangeHostnameModal.tsx
  src/common/components/ui/formik/constants.tsx
  src/common/components/ui/formik/validationSchemas.ts
Labels: OCM

#1901 MGMT-13226 - Tooltip should not appear when user hovers over the informational question mark
  src/common/components/clusterWizard/networkingSteps/NetworkTypeControlGroup.tsx
  src/common/components/ui/PopoverIcon.tsx
  src/ocm/components/clusterConfiguration/HostInventory.tsx
  src/ocm/components/clusterConfiguration/networkConfiguration/StackTypeControl.tsx
  src/ocm/components/clusterConfiguration/platformIntegration/PlatformIntegration.tsx
Labels: OCM

#1902 NO-ISSUE: Fix table console errors
  src/common/components/ui/table/utils.ts
  src/ocm/components/clusterConfiguration/review/ReviewClusterDetailTable.tsx
  src/ocm/components/clusterConfiguration/review/ReviewNetworkingTable.tsx
  src/ocm/components/clusterConfiguration/review/ReviewOperatorsTable.tsx
Labels: OCM, jira/valid-reference

#1906 MGMT-13572: Allow deletion of first Static IP host if not also last
  src/ocm/components/clusterConfiguration/staticIp/components/StaticIpHostsArray.tsx
Labels: OCM

#1907 MGMT-12502: Remove dead code about OpenShift support end date
  locales/en/translation.json
  src/common/components/clusterConfiguration/OpenShiftVersionSelect.tsx
  src/ocm/components/clusterConfiguration/OcmOpenShiftVersionSelect.tsx
  src/ocm/data/openshiftVersionsData.ts
Labels: jira/valid-reference

#1908 MGMT-13395: Void the infraEnv cache for a cluster if there is a miss
  src/ocm/components/clusters/ClusterPage.tsx
  src/ocm/hooks/useInfraEnv.ts
Labels: OCM, jira/valid-reference

#1889 MGMT-12788: Change internet protocol version control to radio buttons
  src/ocm/components/clusterConfiguration/staticIp/components/FormViewNetworkWide/FormViewNetworkWideFields.tsx
Labels: e2e-adaptations-needed, OCM

#1909 MGMT-13244 - Add host ssh keys does not allow space or \n for next key
  locales/en/translation.json
  package.json
  src/common/components/clusterConfiguration/UploadSSH.tsx
  src/common/components/ui/formik/validationSchemas.ts
  src/ocm/components/clusterConfiguration/OcmDiscoveryImageConfigForm.tsx
Labels: OCM

#1905 MGMT-13564: Change CPU architecture selection to a Dropdown
  package.json
  src/common/components/clusterConfiguration/DiscoveryImageCpuArchitectureControlGroup.tsx
  src/common/components/clusterWizard/clusterDetailsValidation.ts
  src/common/components/ui/OpenShiftVersionDropdown.tsx
  src/common/types/clusters.ts
  src/common/types/cpuArchitecture.ts
  src/common/types/index.ts
  src/ocm/components/AddHosts/day2Wizard/Day2WizardContextProvider.tsx
  src/ocm/components/clusterConfiguration/ArmCheckbox.tsx
  src/ocm/components/clusterConfiguration/CpuArchitectureDropdown.tsx
  src/ocm/components/clusterConfiguration/DiscoveryImageTypeDropdown.tsx
  src/ocm/components/clusterConfiguration/OcmClusterDetailsFormFields.tsx
  src/ocm/components/clusterConfiguration/OcmOpenShiftVersionSelect.tsx
  src/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfiguration.tsx
  src/ocm/components/clusterConfiguration/review/ReviewClusterDetailTable.tsx
  src/ocm/components/clusterDetail/ClusterProperties.tsx
  src/ocm/components/featureSupportLevels/FeatureSupportLevelProvider.tsx
  src/ocm/hooks/useOpenshiftVersions.tsx
  src/ocm/services/ClusterDetailsService.ts
  src/ocm/services/CpuArchitectureService.ts
  src/ocm/services/Day2ClusterService.ts
  src/ocm/services/InfraEnvIdsCacheService.ts
Labels: e2e-adaptations-needed, OCM, jira/valid-reference

#1910 Revert commit PR 1909
  locales/en/translation.json
  package.json
  src/common/components/clusterConfiguration/UploadSSH.tsx
  src/common/components/ui/formik/validationSchemas.ts
  src/ocm/components/clusterConfiguration/OcmDiscoveryImageConfigForm.tsx
Labels: OCM

#1913 MGMT-13443 - Switch SDN and OVN places
  src/common/components/clusterWizard/networkingSteps/NetworkTypeControlGroup.tsx
Labels: OCM

#1912 MGMT-13244 - Add host ssh keys does not allow space or \n for next key
  locales/en/translation.json
  package.json
  src/common/components/clusterConfiguration/UploadSSH.tsx
  src/common/components/ui/formik/validationSchemas.ts
  src/ocm/components/clusterConfiguration/OcmDiscoveryImageConfigForm.tsx
Labels: OCM

#1918 MGMT-13477: Delay isSupportedOpenShiftVersion till data are loaded
  src/ocm/hooks/useOpenshiftVersions.tsx
Labels: jira/valid-reference

#1879 AGENT-513: Single cluster support
  src/common/components/clusterConfiguration/DiskEncryptionFields/DiskEncryptionControlGroup.tsx
  src/common/components/clusterConfiguration/FormatDiskWarning.tsx
  src/common/components/clusterDetail/KubeconfigDownload.tsx
  src/common/components/clusterWizard/ReviewHostsInventory.tsx
  src/common/components/hosts/EditHostForm.tsx
  src/common/features/featureGate.tsx
  src/ocm/components/clusterConfiguration/HostInventory.tsx
  src/ocm/components/clusterConfiguration/InformationAndAlerts.tsx
  src/ocm/components/clusterConfiguration/OcmClusterDetailsFormFields.tsx
  src/ocm/components/clusterConfiguration/networkConfiguration/VirtualIPControlGroup.tsx
  src/ocm/components/clusterConfiguration/review/ReviewPreflightChecks.tsx
  src/ocm/components/clusterConfiguration/review/ReviewStep.tsx
  src/ocm/components/clusterDetail/ClusterDetail.tsx
  src/ocm/components/clusterDetail/RebootNodeZeroModal.css
  src/ocm/components/clusterDetail/RebootNodeZeroModal.tsx
  src/ocm/components/clusterWizard/ClusterWizardContextProvider.tsx
  src/ocm/components/clusterWizard/ClusterWizardNavigation.tsx
  src/ocm/components/clusterWizard/index.ts
  src/ocm/components/clusterWizard/wizardTransition.ts
  src/ocm/components/clusters/ClusterPage.tsx
  src/ocm/components/clusters/NewClusterPage.tsx
  src/ocm/components/clusters/clusterPolling.ts
  src/ocm/components/clusters/index.ts
  src/ocm/components/hosts/HostsDiscoveryTroubleshootingInfoLinkWithModal.tsx
  src/ocm/components/index.ts
  src/ocm/components/ui/InfoLinkWithModal.tsx
  src/ocm/index.ts
Labels: jira/valid-reference

#1914 MGMT-13473: Control alerts in Day2 wizard
  src/ocm/components/AddHosts/day2Wizard/Day2ClusterDetails.tsx
  src/ocm/components/AddHosts/day2Wizard/Day2StaticIP.tsx
  src/ocm/components/AddHosts/day2Wizard/Day2Wizard.tsx
  src/ocm/components/AddHosts/day2Wizard/Day2WizardFooter.tsx
  src/ocm/components/clusterConfiguration/staticIp/components/StaticIpForm.tsx
Labels: OCM, jira/valid-reference

#1920 AGENT-513: Single cluster support
  src/common/components/clusterConfiguration/DiskEncryptionFields/DiskEncryptionControlGroup.tsx
  src/common/components/clusterConfiguration/FormatDiskWarning.tsx
  src/common/components/clusterDetail/KubeconfigDownload.tsx
  src/common/components/clusterWizard/ReviewHostsInventory.tsx
  src/common/components/hosts/EditHostForm.tsx
  src/common/features/featureGate.tsx
  src/ocm/components/clusterConfiguration/HostInventory.tsx
  src/ocm/components/clusterConfiguration/InformationAndAlerts.tsx
  src/ocm/components/clusterConfiguration/OcmClusterDetailsFormFields.tsx
  src/ocm/components/clusterConfiguration/networkConfiguration/VirtualIPControlGroup.tsx
  src/ocm/components/clusterConfiguration/review/ReviewPreflightChecks.tsx
  src/ocm/components/clusterConfiguration/review/ReviewStep.tsx
  src/ocm/components/clusterDetail/ClusterDetail.tsx
  src/ocm/components/clusterDetail/RebootNodeZeroModal.css
  src/ocm/components/clusterDetail/RebootNodeZeroModal.tsx
  src/ocm/components/clusterWizard/ClusterWizardContextProvider.tsx
  src/ocm/components/clusterWizard/ClusterWizardNavigation.tsx
  src/ocm/components/clusterWizard/index.ts
  src/ocm/components/clusterWizard/wizardTransition.ts
  src/ocm/components/clusters/ClusterPage.tsx
  src/ocm/components/clusters/NewClusterPage.tsx
  src/ocm/components/clusters/clusterPolling.ts
  src/ocm/components/clusters/index.ts
  src/ocm/components/hosts/HostsDiscoveryTroubleshootingInfoLinkWithModal.tsx
  src/ocm/components/index.ts
  src/ocm/components/ui/InfoLinkWithModal.tsx
  src/ocm/index.ts
Labels: jira/valid-reference

#1921 MGMT-13666 - Change "Validations" to "Checks"
  locales/en/translation.json
  src/common/components/clusterWizard/ReviewValidations.tsx
Labels: OCM

#1915 MGMT-11179: Update UX of subnet selector
  package.json
  src/ocm/components/clusterConfiguration/networkConfiguration/AvailableSubnetsControl.tsx
  src/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfiguration.tsx
  src/ocm/components/clusterConfiguration/networkConfiguration/SubnetsDropdown.tsx
Labels: OCM, jira/valid-reference

#1923 MGMT-12308: Add additional HW requirements for operators in SNO clusters
  src/ocm/components/hosts/HostRequirementsContent.tsx
Labels: OCM, jira/valid-reference

#1922 MGMT-13662: Show reboot VM content in a modal
  locales/en/translation.json
  src/common/components/hosts/VMRebootConfigurationInfo.tsx
  src/ocm/components/clusterConfiguration/InformationAndAlerts.tsx
  src/ocm/components/hosts/VMRebootConfigurationLinkWithModal.tsx
  src/ocm/components/hosts/utils.ts
Labels: OCM, jira/valid-reference

#1927 MGMT-13677: Fix non-production warning only for appropriate versions
  src/common/components/ui/OpenShiftVersionDropdown.tsx
  src/ocm/components/clusterConfiguration/OcmOpenShiftVersionSelect.tsx
Labels: jira/valid-reference

#1928 MGMT-13677: Fix non-production warning only for appropriate versions 2.15
  src/common/components/ui/OpenShiftVersionDropdown.tsx
  src/ocm/components/clusterConfiguration/OcmOpenShiftVersionSelect.tsx
Labels: OCM, jira/valid-reference

#1930 MGMT-13397: Display the underlying CPU architecture also in ClusterPr…
  src/ocm/components/clusterDetail/ClusterProperties.tsx
Labels: OCM, jira/valid-reference

#1929 MGMT-13647: Disable LVM instead of hiding it for < 4.11
  src/ocm/components/clusterConfiguration/operators/LvmCheckbox.tsx
  src/ocm/components/clusterWizard/OperatorsStep.tsx
  src/ocm/components/featureSupportLevels/featureStateUtils.ts
Labels: OCM, jira/valid-reference

#1936 MGMT-9167: Rephrase label in SNO disclaimer
  locales/en/translation.json
  src/common/components/clusterConfiguration/SNODisclaimer.tsx
Labels: OCM, jira/valid-reference

#1937 MGMT-13788: Show API error message in actions
  src/ocm/components/clusterWizard/Operators.tsx
  src/ocm/components/hosts/use-hosts-table.tsx
Labels: jira/valid-reference

#1924 MGMT-11167: Change validation of DNS name to allow Base Domain without a single dot
  src/common/components/clusterWizard/clusterDetailsValidation.ts
  src/common/components/ui/formik/validationSchemas.ts
Labels: e2e-adaptations-needed, OCM, jira/valid-reference

#1943 MGMT-13745: Translation fixes in Infra environment form
  locales/en/translation.json
  src/common/components/ui/formik/LabelField.tsx
  src/common/components/ui/formik/PullSecretField.tsx
Labels: jira/valid-reference

#1940 MGMT-13789: Inline alert message in storage step about bootable disks should include info about read-only disks
  locales/en/translation.json
  src/common/components/clusterConfiguration/FormatDiskWarning.tsx
Labels: OCM, jira/valid-reference

#1939 MGMT-11768 - Day 2 when having only read permissions to cluster - all fields should be in read only mode
  src/common/components/AddHosts/AddHostsContext.tsx
  src/ocm/components/AddHosts/AddHosts.tsx
  src/ocm/components/AddHosts/day2Wizard/Day2DiscoveryImageModalButton.tsx
  src/ocm/components/HostsClusterDetailTab/HostsClusterDetailTabContent.tsx
  src/ocm/components/HostsClusterDetailTab/utils.ts
  src/ocm/components/hosts/UpdateDay2ApiVipDialogToggle.tsx
Labels: OCM

#1947 MGMT-12928: Fix incorrect html tags in translations
  locales/ja/translation.json
  locales/ko/translation.json
  locales/zh/translation.json
Labels: jira/valid-reference

#1948 [2.7-cim] MGMT-13745: Translation fixes in Infra environment form
  locales/en/translation.json
  src/common/components/ui/formik/LabelField.tsx
  src/common/components/ui/formik/PullSecretField.tsx
Labels: jira/valid-reference

#1925 MGMT-13470 - Allow support for both LVMO and LVMS depending on Openshift version
  src/common/components/clusterDetail/ClusterProgressItems.tsx
  src/common/components/clusterDetail/OperatorsProgressItem.tsx
  src/common/config/constants.ts
  src/ocm/components/clusterConfiguration/operators/LvmCheckbox.tsx
  src/ocm/components/clusterConfiguration/operators/utils.tsx
  src/ocm/components/clusterConfiguration/review/ReviewOperatorsTable.tsx
  src/ocm/components/clusterDetail/FailedOperatorsWarning.tsx
  src/ocm/components/clusterDetail/ProgressBarAlerts.tsx
Labels: OCM
