Repository openshift-assisted/assisted-installer-ui, pull requests merged in 2023-01, with the labels that each got.

#1836 MGMT-11964: Change text multi for "Multiple CPU architectures"
  src/ocm/components/clusterDetail/ClusterProperties.tsx
Labels: OCM

#1769 MGMT-11041: Enhance Add-hosts tab features
  src/ocm/components/AddHosts/InventoryAddHost.tsx
  src/ocm/components/HostsClusterDetailTab/HostsClusterDetailTabContent.tsx
  src/ocm/components/HostsClusterDetailTab/utils.ts
Labels: OCM

#1844 MGMT-13062: Change alert in odf installations about formatting installation disks
  src/ocm/components/hosts/OdfDisksManualFormattingHint.tsx
Labels: OCM

#1845 MGMT-12952: LVMO operator is going to be renamed to LVMS in 4.12
  locales/en/translation.json
  src/common/config/constants.ts
  src/ocm/components/clusterConfiguration/operators/LvmCheckbox.tsx
  src/ocm/components/featureSupportLevels/featureStateUtils.ts
Labels: OCM

#1846 MGMT-12952: LVMO operator is going to be renamed to LVMS in 4.12 (master)
  locales/en/translation.json
  src/common/config/constants.ts
  src/ocm/components/clusterConfiguration/operators/LvmCheckbox.tsx
  src/ocm/components/featureSupportLevels/featureStateUtils.ts
Labels: OCM

#1852 MGMT-12952: LVMO operator is going to be renamed to LVMS in 4.12 - followup
  src/ocm/components/featureSupportLevels/featureStateUtils.ts
Labels: OCM

#1826 MGMT-13060 Display "Platform Integration" in new "Review & Create" page
  src/ocm/components/clusterConfiguration/platformIntegration/PlatformIntegrationNote.tsx
  src/ocm/components/clusterConfiguration/review/ReviewCluster.css
  src/ocm/components/clusterConfiguration/review/ReviewSummary.tsx
Labels: OCM

#1842 MGMT-13103: Block UMN option in case we're in nutanix platform
  locales/en/translation.json
  src/common/components/clusterWizard/networkingSteps/ManagedNetworkingControlGroup.tsx
  src/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfiguration.tsx
Labels: OCM

#1861 NO_ISSUE: Day1 iso name
  package.json
  src/common/components/ui/OpenShiftVersionDropown.tsx
  src/ocm/components/clusterConfiguration/DiscoveryImageModal.tsx
  src/ocm/components/clusterConfiguration/DiscoveryImageSummary.tsx
Labels: OCM

#1865 MGMT-13257 Correct LVM operator name - 2.13
  locales/en/translation.json
  src/common/components/clusterDetail/OperatorsProgressItem.tsx
  src/common/config/constants.ts
  src/ocm/components/clusterConfiguration/operators/LvmCheckbox.tsx
  src/ocm/components/featureSupportLevels/featureStateUtils.ts
Labels: OCM

#1866 MGMT-13257 Correct LVM operator name - 2.14
  locales/en/translation.json
  package.json
  src/common/components/clusterDetail/OperatorsProgressItem.tsx
  src/common/config/constants.ts
  src/ocm/components/clusterConfiguration/operators/LvmCheckbox.tsx
  src/ocm/components/featureSupportLevels/featureStateUtils.ts
Labels: OCM

#1860 MGMT-13241: Use infraEnv to detect the clusters Cpu Architecture
  src/ocm/components/clusterConfiguration/OcmClusterDetailsFormFields.tsx
  src/ocm/components/clusterConfiguration/OcmOpenShiftVersion.tsx
  src/ocm/components/clusterWizard/ClusterDetailsForm.tsx
  src/ocm/services/ClusterDetailsService.ts
Labels: OCM

#1856 MGMT-13109: Cluster update - send only allowed fields
  src/ocm/components/clusterWizard/ClusterDetails.tsx
  src/ocm/components/clusterWizard/ClusterDetailsForm.tsx
  src/ocm/services/ClusterDetailsService.ts
  src/ocm/services/types.ts
Labels: OCM

#1868 MGMT-13241: Use infraEnv to detect the clusters Cpu Architecture - 2.14
  src/ocm/components/clusterConfiguration/OcmClusterDetailsFormFields.tsx
  src/ocm/components/clusterConfiguration/OcmOpenShiftVersion.tsx
  src/ocm/components/clusterWizard/ClusterDetailsForm.tsx
  src/ocm/services/ClusterDetailsService.ts
Labels: OCM

#1869 MGMT-13109: Cluster update - send only allowed fields - 2.14
  src/ocm/components/clusterWizard/ClusterDetails.tsx
  src/ocm/components/clusterWizard/ClusterDetailsForm.tsx
  src/ocm/services/ClusterDetailsService.ts
  src/ocm/services/types.ts
Labels: OCM

#1864 MGMT-13257: Correct name for LVMS operator, not ODF prefix
  locales/en/translation.json
  package.json
  src/common/components/clusterDetail/OperatorsProgressItem.tsx
  src/common/config/constants.ts
  src/ocm/components/clusterConfiguration/operators/LvmCheckbox.tsx
  src/ocm/components/featureSupportLevels/featureStateUtils.ts
Labels: OCM

#1883 MGMT-13460: Correct validations of ipv6 addresses
  src/ocm/components/clusterConfiguration/staticIp/commonValidationSchemas.tsx
Labels: OCM, jira/valid-reference

#1884 MGMT-13460 correct ipv6 validations - 2.14
  src/ocm/components/clusterConfiguration/staticIp/commonValidationSchemas.tsx
Labels: OCM

#1885 Correct deprecated translation exports 2.14
  package.json
Labels: OCM

#1886 MGMT-11676 - The entered values are lost when we toggle between ipv4/dual stack
  src/ocm/components/clusterConfiguration/staticIp/components/FormViewNetworkWide/FormViewNetworkWideFields.tsx
Labels: OCM

#1824 MGMT-13028 - Show only enabled operators in the Review and create summary
  locales/en/translation.json
  src/common/config/constants.ts
  src/common/selectors/clusterSelectors.ts
  src/ocm/components/clusterConfiguration/review/ReviewOperatorsTable.tsx
  src/ocm/services/OperatorsService.tsx
Labels: OCM

#1890 MGMT-13093: Change ODF requirements link url 2.14
  src/common/config/constants.ts
Labels: jira/valid-reference

#1888 MGMT-13093: Change ODF requirements link url
  src/common/config/constants.ts
Labels: OCM, jira/valid-reference

#1887 MGMT-13134 - Cluster name box echo all characters when overlimit
  locales/en/translation.json
  src/common/components/ui/formik/constants.tsx
  src/common/components/ui/formik/types.ts
  src/common/components/ui/formik/validationSchemas.ts
  src/ocm/components/clusterConfiguration/OcmClusterDetailsFormFields.tsx
Labels: OCM

#1881 MGMT-13261: Fix ARM detection always
  src/cim/components/ClusterDeployment/ArmCheckbox.tsx
  src/common/components/clusterConfiguration/utils.ts
  src/common/components/featureSupportLevels/FeatureSupportLevelContext.tsx
  src/common/selectors/clusterSelectors.ts
  src/common/types/clusters.ts
  src/ocm/components/AddHosts/InventoryAddHost.tsx
  src/ocm/components/clusterConfiguration/ArmCheckbox.tsx
  src/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfiguration.tsx
  src/ocm/components/clusterConfiguration/review/ReviewClusterDetailTable.tsx
  src/ocm/components/clusterDetail/ClusterProperties.tsx
  src/ocm/components/featureSupportLevels/FeatureSupportLevelProvider.tsx
  src/ocm/components/featureSupportLevels/featureStateUtils.ts
  src/ocm/services/ClusterDetailsService.ts
  src/ocm/services/CpuArchitectureService.ts
Labels: OCM, jira/valid-reference

#1897 Make new info optional in common FeatureSupportLevelData
  src/common/components/featureSupportLevels/FeatureSupportLevelContext.tsx
  src/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfiguration.tsx
  src/ocm/components/clusterConfiguration/review/ReviewClusterDetailTable.tsx
  src/ocm/components/clusterDetail/ClusterProperties.tsx
  src/ocm/components/featureSupportLevels/featureStateUtils.ts
Labels: OCM

#1892 MGMT-13470 - Allow support for both LVMO and LVMS depending on Openshift version
  locales/en/translation.json
  src/common/config/constants.ts
  src/ocm/components/clusterConfiguration/operators/CnvCheckbox.tsx
  src/ocm/components/clusterConfiguration/operators/LvmCheckbox.tsx
  src/ocm/components/clusterConfiguration/operators/utils.tsx
  src/ocm/components/clusterConfiguration/review/ReviewOperatorsTable.tsx
  src/ocm/components/clusterWizard/OperatorsStep.tsx
  src/ocm/components/featureSupportLevels/featureStateUtils.ts
Labels: OCM

#1898 MGMT-13489: UI won't get stuck with IP with suffix
  src/common/components/ui/formik/validationSchemas.ts
  src/ocm/components/clusterConfiguration/networkConfiguration/VirtualIPControlGroup.tsx
  src/ocm/components/clusterConfiguration/networkConfiguration/networkConfigurationValidation.ts
Labels: OCM, jira/valid-reference

#1899 MGMT-13489: UI won't getstuck with IP with suffix - 2.14
  src/common/components/ui/formik/validationSchemas.ts
  src/ocm/components/clusterConfiguration/networkConfiguration/VirtualIPControlGroup.tsx
  src/ocm/components/clusterConfiguration/networkConfiguration/networkConfigurationValidation.ts
Labels: OCM, jira/valid-reference
