Repository openshift-assisted/assisted-installer-ui, pull requests merged in 2023-05, with the labels that each got.

#2075 MGMT-14447: Adds more IDs
  README.md
  libs/ui-lib/lib/common/components/clusterDetail/ClusterProgress.tsx
  libs/ui-lib/lib/ocm/components/clusterDetail/HostInventoryExpandable.tsx
Labels: size/M, jira/valid-reference

#2076 MGMT-14448: Enable translation in common components
  libs/locales/lib/en/translation.json
  libs/locales/lib/ja/translation.json
  libs/locales/lib/ko/translation.json
  libs/locales/lib/zh/translation.json
  libs/ui-lib/lib/cim/components/ClusterDeployment/ClusterDeploymentDetails.tsx
  libs/ui-lib/lib/common/components/clusterDetail/KubeconfigDownload.tsx
  libs/ui-lib/lib/common/components/ui/ViewClusterEventsButton.tsx
Labels: lgtm, size/S, jira/valid-reference

#2083 MGMT-14497: The UI version deployed to OCM always shows 'latest'
  .github/workflows/release.yaml
  libs/ui-lib/lib/common/config/constants.ts
  libs/ui-lib/package.json
  libs/ui-lib/scripts/generate-build-manifest.mjs
Labels: size/M, jira/valid-reference

#2080 NO-ISSUE: Docs updates
  DCO
  README.md
  docs/CONTRIBUTING.md
  docs/I18N.md
  libs/locales/README.md
  libs/ui-lib/README.md
Labels: size/L, jira/valid-reference

#2058 MGMT-14407: Modify UI to accommodate for the new DNS validation
  libs/locales/lib/en/translation.json
  libs/ui-lib/lib/common/api/swagger.yaml
  libs/ui-lib/lib/common/api/types.ts
  libs/ui-lib/lib/common/config/constants.ts
Labels: size/XS, OCM, jira/valid-reference

#1919 MGMT-12731: Opening the Actions menu in a host table causes a scrollbar to appear
  libs/ui-lib/lib/common/components/hosts/AITable.tsx
  libs/ui-lib/package.json
  yarn.lock
Labels: size/XS, OCM, jira/valid-reference

#2090 MGMT-14425 - Improving the severity counters in the events API
  libs/ui-lib/lib/common/components/fetching/EventListFetch.tsx
Labels: lgtm, size/XS, OCM

#2078 MGMT-14488: Cluster network host prefix field is filled by UI if user set empty
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/AdvancedNetworkFields.tsx
Labels: lgtm, size/S, OCM, jira/valid-reference

#2088 MGMT-14471 - Events modal has memory leak problems
  libs/ui-lib/lib/common/components/fetching/EventListFetch.tsx
Labels: lgtm, size/M, OCM

#2077 MGMT-14484: When helperText is an error change the id to avoid duplicates in the page
  libs/ui-lib/lib/common/components/ui/formik/HelperText.tsx
Labels: size/XS, OCM, jira/valid-reference

#2068 MGMT-14328: Deleting a single host from the host menu or the mass actions menu should result in the same confirmation modal
  libs/ui-lib/lib/ocm/components/hosts/use-hosts-table.tsx
Labels: size/S, OCM, jira/valid-reference

#2084 MGMT-14476: Change ssh key validation in networking page
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/networkConfigurationValidation.ts
Labels: size/XS, OCM, jira/valid-reference

#2085 MGMT-14479: Add vsphere version supported for platform integration
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/PlatformIntegration.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/PlatformIntegrationVsphere.tsx
Labels: size/XS, OCM

#2087 MGMT-14326 - Inline alert copy when the cluster is not ready
  libs/locales/lib/en/translation.json
  libs/ui-lib/lib/common/components/clusterWizard/ClusterWizardStepValidationsAlert.tsx
Labels: size/S, OCM

#2092 New cluster events - adding "%" sign to search text field return all events instead of specific ones
  libs/ui-lib/lib/ocm/services/apis/EventsAPI.ts
Labels: lgtm, size/XS

#2091 MGMT-14477: Set default install disk from agent.status
  libs/ui-lib/lib/cim/components/helpers/toAssisted.ts
  libs/ui-lib/lib/cim/types/k8s/agent.ts
Labels: lgtm, size/XS, jira/valid-reference

#2093 Update CONTRIBUTING documentation with CIM dev setup
  docs/CONTRIBUTING.md
Labels: lgtm, size/M

#2081 MGMT-14345: CIM: Fallback to CD credentials when they are missing in ACI
  libs/ui-lib/lib/cim/components/ClusterDeployment/ClusterDeploymentCredentials.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/ClusterDeploymentKubeconfigDownload.tsx
  libs/ui-lib/lib/cim/types/k8s/cluster-deployment.ts
Labels: size/S, jira/valid-reference

#2099 Add latest-released tag to UI releases
  .github/workflows/push-to-master.yaml
Labels: lgtm, size/XS

#2097 MGMT-14329 - Unhelpful popover for NTP “Synced” status
  libs/ui-lib/lib/common/components/hosts/HostPropertyValidationPopover.tsx
Labels: lgtm, size/XS, OCM

#2101 Adds the latest translations for ko,ja,zh
  libs/locales/lib/ja/translation.json
  libs/locales/lib/ko/translation.json
  libs/locales/lib/zh/translation.json
Labels: lgtm, size/L

#2094 MGMT-14508 - Slowness in search text
  libs/ui-lib/lib/common/components/fetching/EventListFetch.tsx
  libs/ui-lib/lib/common/components/ui/eventsModal.tsx
  libs/ui-lib/lib/common/types/events.ts
  libs/ui-lib/lib/ocm/components/fetching/fetchEvents.ts
  libs/ui-lib/lib/ocm/services/apis/EventsAPI.ts
Labels: size/M, OCM

#2095 Change the API alerts position in the "Add hosts" modal
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmDiscoveryImageConfigForm.tsx
Labels: size/M, OCM

#2111 MGMT-14330 - User-managed networking popover text
  libs/ui-lib/lib/common/components/clusterWizard/networkingSteps/ManagedNetworkingControlGroup.tsx
Labels: size/S, OCM

#2112 MGMT-13582: Updates the reboot required message
  libs/ui-lib/lib/common/components/hosts/status.tsx
Labels: size/XS, OCM, jira/valid-reference

#2110 MGMT-14324 - Tweak "Virtualization platform integration" tooltip text
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/PlatformIntegration.tsx
Labels: size/XS, OCM

#2108 MGMT-14198 - IPV4 tooltip bug
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/StackTypeControl.tsx
Labels: size/S, OCM

#2107 MGMT-14065,MGMT-14064: Break IP field description texts into help and description texts
  libs/ui-lib/lib/common/components/ui/StaticTextField.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/VirtualIPControlGroup.tsx
Labels: size/M, OCM, jira/valid-reference

#2096 MGMT-14464: Break Cluster network host prefix field description text into help and description text
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/AdvancedNetworkFields.tsx
Labels: size/M, OCM, jira/valid-reference

#2089 CIM: Fallback to CD credentials when they are missing in ACI
  src/cim/components/ClusterDeployment/ClusterDeploymentCredentials.tsx
  src/cim/components/ClusterDeployment/ClusterDeploymentKubeconfigDownload.tsx
  src/cim/types/k8s/cluster-deployment.ts
Labels: lgtm, size/S

#2102 Adds the latest translations for ko,ja,zh
  locales/ja/translation.json
  locales/ko/translation.json
  locales/zh/translation.json
Labels: size/S

#2104 MGMT-14565: CIM: Allow clusters with 4 hosts
  libs/locales/lib/en/translation.json
  libs/ui-lib/lib/cim/components/ClusterDeployment/ClusterDeploymentHostSelectionStep.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/ClusterDeploymentHostsDiscoveryStep.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/ClusterDeploymentHostsSelectionBasic.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/validationSchemas.ts
Labels: lgtm, size/M, jira/valid-reference

#2115 MGMT-14576: Improve URL validation
  libs/ui-lib/lib/common/components/ui/formik/validationSchemas.ts
Labels: lgtm, size/XS, jira/valid-reference

#2116 MGMT-14577: CIM: Set 'online' to true by default
  libs/ui-lib/lib/cim/components/Agent/BMCForm.tsx
Labels: size/XS, jira/valid-reference

#2121 [2.7-cim] Remove unused 'count' from NetworkStepProps
  src/cim/components/Hypershift/HostedClusterWizard/NetworkStep/types.ts
Labels: lgtm, size/XS

#2117 MGMT-14598: adjust Day2 add host modal to Day1 modal
  libs/ui-lib/lib/common/components/clusterWizard/ClusterWizardStep.tsx
  libs/ui-lib/lib/ocm/components/AddHosts/day2Wizard/Day2DownloadISO.tsx
  libs/ui-lib/lib/ocm/components/AddHosts/day2Wizard/Day2Wizard.tsx
Labels: size/S, OCM, jira/valid-reference

#2109 MGMT-14292: Create infraenv only when users pick one of the supported architectures or if infraenv doesn't exist
  libs/ui-lib/lib/ocm/components/AddHosts/day2Wizard/Day2ClusterDetails.tsx
  libs/ui-lib/lib/ocm/components/AddHosts/day2Wizard/Day2StaticIP.tsx
  libs/ui-lib/lib/ocm/components/HostsClusterDetailTab/HostsClusterDetailTabContent.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/DiscoveryImageForm.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfigurationForm.tsx
  libs/ui-lib/lib/ocm/components/clusterDetail/AssistedInstallerDetailCard.tsx
  libs/ui-lib/lib/ocm/components/clusterDetail/AssistedInstallerExtraDetailCard.tsx
  libs/ui-lib/lib/ocm/components/clusters/ClusterPage.tsx
  libs/ui-lib/lib/ocm/components/featureSupportLevels/FeatureSupportLevelProvider.tsx
  libs/ui-lib/lib/ocm/components/newFeatureSupportLevels/NewFeatureSupportLevelProvider.tsx
  libs/ui-lib/lib/ocm/hooks/useInfraEnv.ts
  libs/ui-lib/lib/ocm/hooks/useInfraEnvId.ts
  libs/ui-lib/lib/ocm/hooks/useInfraEnvImageUrl.ts
  libs/ui-lib/lib/ocm/hooks/useInfraEnvIpxeImageUrl.ts
  libs/ui-lib/lib/ocm/services/Day2ClusterService.ts
  libs/ui-lib/lib/ocm/services/InfraEnvIdsCacheService.ts
  libs/ui-lib/lib/ocm/services/InfraEnvsService.ts
Labels: size/L, OCM, jira/valid-reference

#2122 NO-ISSUE: Hotfix for version 2.20
  libs/ui-lib/lib/common/components/clusterWizard/ClusterWizardStep.tsx
  libs/ui-lib/lib/ocm/components/AddHosts/day2Wizard/Day2DownloadISO.tsx
  libs/ui-lib/lib/ocm/components/AddHosts/day2Wizard/Day2Wizard.tsx
  libs/ui-lib/lib/ocm/components/clusters/ClusterPage.tsx
Labels: lgtm, size/S, OCM, jira/valid-reference

#2124 MGMT-14640: Infra envs cache return types [BACKPORT]
  libs/ui-lib/lib/ocm/hooks/useInfraEnvId.ts
  libs/ui-lib/lib/ocm/services/InfraEnvIdsCacheService.ts
  libs/ui-lib/lib/ocm/services/InfraEnvsService.ts
Labels: lgtm, size/XS, jira/valid-reference

#2123 MGMT-14640: InfraEnvs cache return type hotfix
  libs/ui-lib/lib/ocm/hooks/useInfraEnvId.ts
  libs/ui-lib/lib/ocm/services/InfraEnvIdsCacheService.ts
  libs/ui-lib/lib/ocm/services/InfraEnvsService.ts
Labels: lgtm, size/XS, jira/valid-reference

#2128 MGMT-14645: Change Power and z names in the UI
  libs/ui-lib/lib/ocm/components/clusterConfiguration/CpuArchitectureDropdown.tsx
Labels: lgtm, size/XS, OCM, jira/valid-reference

#2129 MGMT-14645: Change Power and z names in the UI (backport)
  libs/ui-lib/lib/ocm/components/clusterConfiguration/CpuArchitectureDropdown.tsx
Labels: lgtm, size/XS, OCM, jira/valid-reference

#2131 MGMT-14646: Problems to create OCP multi version cluster (backport)
  libs/ui-lib/lib/ocm/services/InfraEnvIdsCacheService.ts
Labels: lgtm, size/XS, OCM, jira/valid-reference

#2130 MGMT-14646: Problems to create OCP multi version cluster
  libs/ui-lib/lib/ocm/services/InfraEnvIdsCacheService.ts
Labels: lgtm, size/XS, OCM

#2132 MGMT-14606: Do not update the latest-released tag when CIM releases are made
  .github/workflows/push-to-master.yaml
Labels: lgtm, size/XS, jira/valid-reference

#2114 MGMT-14574: CIM: Allow empty proxy fields
  libs/ui-lib/lib/cim/components/ClusterDeployment/use-networking-formik.ts
  libs/ui-lib/lib/cim/components/Hypershift/HostedClusterWizard/NetworkStep/NetworkStep.tsx
  libs/ui-lib/lib/cim/components/InfraEnv/InfraEnvFormPage.tsx
  libs/ui-lib/lib/cim/components/modals/AddHostModal.tsx
  libs/ui-lib/lib/cim/components/modals/EditProxyModal.tsx
  libs/ui-lib/lib/common/components/clusterConfiguration/DiscoveryImageConfigForm.tsx
  libs/ui-lib/lib/common/components/ui/formik/validationSchemas.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmDiscoveryImageConfigForm.tsx
Labels: lgtm, size/L, jira/valid-reference

#2138 MGMT-14261: Show the add hosts tab only when the cluster was installed using Assisted Installer
  libs/ui-lib/lib/ocm/components/HostsClusterDetailTab/types.ts
  libs/ui-lib/lib/ocm/components/HostsClusterDetailTab/utils.ts
Labels: lgtm, size/M, jira/valid-reference

#2136 MGMT-14670: Solving problems with "Buffer" error
  libs/ui-lib/lib/ocm/components/clusterWizard/ClusterWizardContextProvider.tsx
  libs/ui-lib/lib/ocm/services/ClustersService.ts
Labels: lgtm, size/XS, OCM, jira/valid-reference

#2137 MGMT-14670: Solving problems with 'Buffer' error - 2.20
  libs/ui-lib/lib/ocm/components/clusterWizard/ClusterWizardContextProvider.tsx
  libs/ui-lib/lib/ocm/services/ClustersService.ts
Labels: lgtm, size/XS, OCM, jira/valid-reference

#2147 MGMT-14679: Solve problems with Add hosts in onprem clusters
  libs/ui-lib/lib/ocm/components/AddHosts/day2Wizard/Day2ClusterDetails.tsx
Labels: size/XS, OCM, jira/valid-reference

#2148 MGMT-14679: Solve problems with Add hosts in onprem clusters - 2.20
  libs/ui-lib/lib/ocm/components/AddHosts/day2Wizard/Day2ClusterDetails.tsx
Labels: size/XS, OCM, jira/valid-reference

#2154 MGMT-14197: Fix catastrophic backtracking in no proxy dns regex (2.20)
  libs/ui-lib/lib/common/components/ui/formik/validationSchemas.ts
Labels: size/XS, jira/valid-reference

#2153 MGMT-14197: Fix catastrophic backtracking in no proxy dns regex
  libs/ui-lib/lib/common/components/ui/formik/validationSchemas.ts
Labels: size/XS, jira/valid-reference

#2146 MGMT-14682: Change folder popover text - 2.20
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/FolderDropdown.tsx
Labels: size/S, OCM, jira/valid-reference

#2144 MGMT-14671: Able to proceed installing with invalid custom manifest - 2.20
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/CustomManifestsForm.tsx
Labels: size/M, OCM, jira/valid-reference

#2143 MGMT-14671: Able to proceed installing with invalid custom manifest
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/CustomManifestsForm.tsx
Labels: lgtm, size/M, OCM

#2142 MGMT-14672: Custom manifests page loaded when needed - 2.20
  libs/ui-lib/lib/ocm/components/clusterWizard/ClusterWizardContextProvider.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/wizardTransition.ts
Labels: size/S, OCM, jira/valid-reference

#2141 MGMT-14672: Custom manifests page loaded when needed
  libs/ui-lib/lib/ocm/components/clusterWizard/ClusterWizardContextProvider.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/wizardTransition.ts
Labels: lgtm, size/S, OCM, jira/valid-reference

#2155 MGMT:14706: Solving problems to create pz cluster
  libs/ui-lib/lib/ocm/components/HostsClusterDetailTab/HostsClusterDetailTabContent.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfigurationForm.tsx
  libs/ui-lib/lib/ocm/components/clusterDetail/AssistedInstallerDetailCard.tsx
  libs/ui-lib/lib/ocm/components/clusterDetail/AssistedInstallerExtraDetailCard.tsx
  libs/ui-lib/lib/ocm/components/clusters/ClusterPage.tsx
  libs/ui-lib/lib/ocm/components/featureSupportLevels/FeatureSupportLevelProvider.tsx
  libs/ui-lib/lib/ocm/components/newFeatureSupportLevels/NewFeatureSupportLevelProvider.tsx
Labels: lgtm, size/S, OCM

#2135 MGMT-14658: Generate iso modal - not able to drag and drop ssh key - Page gets blank + upload file not reading it
  libs/ui-lib/lib/common/components/ui/formik/UploadField.tsx
Labels: lgtm, size/XS, OCM, jira/valid-reference

#2158 MGMT-14658: Generate iso modal - not able to drag and drop ssh key - Page gets blank + upload file not reading it - 2.20
  libs/ui-lib/lib/common/components/ui/formik/UploadField.tsx
Labels: lgtm, size/XS, OCM, jira/valid-reference

#2160 MGMT-14178: Problems renaming manifests file name - 2.20
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/CustomManifestsForm.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/wizardTransition.ts
  libs/ui-lib/lib/ocm/hooks/useClusterCustomManifests.ts
Labels: lgtm, size/M, OCM, jira/valid-reference

#2159 MGMT-14718: Problems renaming manifests file name
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/CustomManifestsForm.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/wizardTransition.ts
  libs/ui-lib/lib/ocm/hooks/useClusterCustomManifests.ts
Labels: size/M, OCM

#2162 MGMT-14727: Change error text when validate unique file names in custom manifests - 2.20
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/customManifestsValidationSchema.tsx
Labels: size/M, OCM, jira/valid-reference

#2161 MGMT-14727: Change error text when validate unique file names in custom manifests
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/customManifestsValidationSchema.tsx
Labels: size/M, OCM, jira/valid-reference

#2169 Update translations
  libs/locales/lib/ja/translation.json
  libs/locales/lib/ko/translation.json
  libs/locales/lib/zh/translation.json
Labels: lgtm, size/M

#2168 MGMT-14749: CIM: Fix events modal
  libs/ui-lib/lib/cim/components/ClusterDeployment/ClusterDeploymentDetails.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/helpers.ts
  libs/ui-lib/lib/common/components/fetching/EventListFetch.tsx
  libs/ui-lib/lib/common/components/ui/eventsModal.tsx
  libs/ui-lib/lib/common/types/events.ts
  libs/ui-lib/lib/ocm/components/fetching/fetchEvents.ts
Labels: size/L, jira/valid-reference

#2157 CIM: Fix hypershift scaling and mapping of AgentMachines to HostedClu…
  libs/ui-lib/lib/cim/components/Hypershift/modals/ManageHostsModal.tsx
  libs/ui-lib/lib/cim/components/Hypershift/utils/nodepool.ts
Labels: lgtm, size/XS

#2173 MGMT-14760: Solving problems saving custom manifests - follow up - 2.20
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/CustomManifestsForm.tsx
Labels: lgtm, size/M, OCM, jira/valid-reference

#2163 MGMT-14635: Allow IPv4 or IPv6 DNS entries in static ip network config
  libs/ui-lib-tests/cypress/fixtures/data/ipv4-and-ipv6-addresses.json
  libs/ui-lib-tests/cypress/integration/static-ip/1-configure-static-ip-network-wide.cy.ts
  libs/ui-lib-tests/cypress/views/common.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/staticIp/commonValidationSchemas.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/staticIp/components/FormViewNetworkWide/formViewNetworkWideValidationSchema.tsx
Labels: lgtm, size/L, OCM, jira/valid-reference

#2166 MGMT-14760: Solving problems saving custom manifests
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/CustomManifestsForm.tsx
  libs/ui-lib/lib/ocm/hooks/useClusterCustomManifests.ts
Labels: size/L, OCM, jira/valid-reference

#2172 NO-ISSUE: Fixes an ESLint warning and tolerates no warnings
  libs/ui-lib/lib/ocm/components/clusterConfiguration/staticIp/commonValidationSchemas.tsx
  libs/ui-lib/lib/ocm/components/fetching/fetchEvents.ts
  package.json
Labels: size/S, jira/valid-reference

#2174 MGMT-14738: Fix the height of the cluster events list
  libs/ui-lib/lib/common/components/fetching/EventListFetch.tsx
  libs/ui-lib/lib/common/components/ui/ClusterEventsToolbar.tsx
  libs/ui-lib/lib/common/components/ui/EventsList.tsx
  libs/ui-lib/lib/common/components/ui/EventsModal.css
Labels: size/M, jira/valid-reference

#2134 MGMT-14049: Change text under "Configure cluster-wide trusted certificates" field
  libs/locales/lib/en/translation.json
  libs/ui-lib/lib/common/components/clusterConfiguration/CertificateFields.tsx
Labels: size/XS, OCM, jira/valid-reference

#2125 MGMT-14580: Selection of number rows in Host Inventory table set to default after go Next
  libs/ui-lib/lib/common/components/hosts/usePagination.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfigurationTableBase.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/ClusterWizardContext.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/ClusterWizardContextProvider.tsx
  libs/ui-lib/lib/ocm/components/hosts/ClusterHostsTable.tsx
  libs/ui-lib/lib/ocm/components/hosts/HostsDiscoveryTable.tsx
  libs/ui-lib/lib/ocm/components/hosts/HostsStorageTable.tsx
  libs/ui-lib/lib/ocm/components/hosts/use-hosts-table.tsx
Labels: lgtm, size/M, OCM, jira/valid-reference

#2176 MGMT-14786: Adding second Manifest delete content of first manifest in UI
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/CustomManifestsForm.tsx
Labels: size/S, OCM, jira/valid-reference

#2126 MGMT-14327: Single-host deletion modal text and multiple hosts deletion modal text should be aligned
  libs/locales/lib/en/translation.json
  libs/ui-lib/lib/common/components/hosts/HostToolbarActions.tsx
  libs/ui-lib/lib/common/components/hosts/MassDeleteHostModal.tsx
  libs/ui-lib/lib/common/components/hosts/tableUtils.tsx
  libs/ui-lib/lib/ocm/components/hosts/DeleteHostModal.tsx
Labels: size/M, OCM, jira/valid-reference

#2133 MGMT-14018: Creating a cluster with 1 char string long base domain (i.e. - "c" as base domain) - getting DNS wildcard not configured: error
  libs/ui-lib/lib/common/components/ui/formik/validationSchemas.ts
Labels: size/XS, OCM, jira/valid-reference

#2177 Bumps cypress to 12.13.0
  libs/ui-lib-tests/package.json
  yarn.lock
Labels: lgtm, approved, size/S

#2151 Quick UI edits I (first 100 lines)
  libs/locales/lib/en/translation.json
Labels: approved, size/M

#2171 MGMT-14703: Limit and verify type when allowing to upload files / yaml to day2
  libs/ui-lib/lib/common/utils.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/customManifestsValidationSchema.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/staticIp/components/YamlView/yamlViewValidationSchema.tsx
Labels: approved, size/M, OCM, jira/valid-reference

#2127 MGMT-14325: Avoid visual jump when going through the "Add hosts" modal steps
  libs/ui-lib/lib/ocm/components/clusterConfiguration/DiscoveryImageModal.css
  libs/ui-lib/lib/ocm/components/clusterConfiguration/DiscoveryImageModal.tsx
Labels: lgtm, approved, size/XS, OCM, jira/valid-reference
