Repository openshift-assisted/assisted-installer-ui, pull requests merged in 2023-07, with the labels that each got.

#2197 MGMT-14703: Improving yaml validations and limit size to 2 Mb
  apps/assisted-ui/deploy/nginx.conf
  apps/assisted-ui/deploy/nginx_ssl.conf
  libs/ui-lib/lib/common/configurations.ts
  libs/ui-lib/lib/common/index.ts
  libs/ui-lib/lib/common/utils.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/customManifestsValidationSchema.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/propTypes.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/staticIp/components/YamlView/yamlViewValidationSchema.tsx
Labels: lgtm, size/L, OCM, jira/valid-reference

#2241 Fix configurations import in v2.22.0
  libs/ui-lib/lib/common/index.ts
Labels: lgtm, size/XS

#2242 Fix configurations import in v2.22.0 - master
  libs/ui-lib/lib/common/index.ts
Labels: lgtm, size/XS

#2240 [MGMT-15152] Fix jump bug and adapt tests
  libs/ui-lib-tests/cypress/@types/Cypress.d.ts
  libs/ui-lib-tests/cypress/fixtures/custom-manifests/1-cluster-created.ts
  libs/ui-lib-tests/cypress/fixtures/custom-manifests/index.ts
  libs/ui-lib-tests/cypress/fixtures/custom-manifests/manifests.ts
  libs/ui-lib-tests/cypress/integration/custom-manifests/1-create-cluster-with-custom-manifests.cy.ts
  libs/ui-lib-tests/cypress/integration/custom-manifests/2-modifying-existing-custom-manifest.cy.ts
  libs/ui-lib-tests/cypress/integration/custom-manifests/3-removing-adding-custom-manifests.cy.ts
  libs/ui-lib-tests/cypress/integration/custom-manifests/4-view-custom-manifests-review-and-create-page.cy.ts
  libs/ui-lib-tests/cypress/support/interceptors.ts
  libs/ui-lib-tests/cypress/support/utils.ts
  libs/ui-lib-tests/cypress/views/common.ts
  libs/ui-lib/lib/ocm/components/clusterWizard/ClusterWizardContextProvider.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/wizardTransition.ts
Labels: lgtm, size/L

#2243 MGMT-14908: Cleanup the ui-lib-tests project
  libs/ui-lib-tests/cypress.config.ts
  libs/ui-lib-tests/cypress/@types/Cypress.d.ts
  libs/ui-lib-tests/cypress/integration/create-multinode/0-create-cluster.cy.ts
  libs/ui-lib-tests/cypress/integration/create-multinode/1-host-discovery.cy.ts
  libs/ui-lib-tests/cypress/integration/create-multinode/3-review.cy.ts
  libs/ui-lib-tests/cypress/integration/create-sno/0-create-cluster.cy.ts
  libs/ui-lib-tests/cypress/integration/create-sno/3-review.cy.ts
  libs/ui-lib-tests/cypress/integration/features/disk-encryption.cy.ts
  libs/ui-lib-tests/cypress/integration/features/read-only-multi-node.cy.ts
  libs/ui-lib-tests/cypress/integration/static-ip/0-create-cluster.cy.ts
  libs/ui-lib-tests/cypress/integration/static-ip/1-configure-static-ip-network-wide.cy.ts
  libs/ui-lib-tests/cypress/integration/static-ip/2-configure-static-ip-host-specific.cy.ts
  libs/ui-lib-tests/cypress/integration/static-ip/3-configure-static-ip-yaml.cy.ts
  libs/ui-lib-tests/cypress/integration/storage/storage-step.cy.ts
  libs/ui-lib-tests/cypress/integration/ui-behaviour/cluster-creation.cy.ts
  libs/ui-lib-tests/cypress/integration/ui-behaviour/cluster-updates.cy.ts
  libs/ui-lib-tests/cypress/integration/ui-behaviour/infra-env-updates.cy.ts
  libs/ui-lib-tests/cypress/support/commands.ts
  libs/ui-lib-tests/cypress/support/interceptors.ts
  libs/ui-lib-tests/cypress/support/selectors.ts
  libs/ui-lib-tests/cypress/support/transformations.ts
  libs/ui-lib-tests/cypress/support/variables/test-constants.ts
  libs/ui-lib-tests/package.json
  libs/ui-lib/lib/ocm/components/clusterWizard/OperatorsStep.tsx
Labels: lgtm, size/L, jira/valid-reference

#2237 Add more validationSchemas tests
  libs/ui-lib/lib/common/components/ui/formik/validationSchemas.test.ts
Labels: size/L

#2238 MGMT-15033: Change to sentence case the titles of modals in Operators step
  libs/ui-lib/lib/ocm/components/clusterConfiguration/operators/CnvCheckbox.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/operators/LvmCheckbox.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/operators/MceCheckbox.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/operators/OdfCheckbox.tsx
Labels: size/XS, OCM, jira/valid-reference

#2235 MGMT-15117: UI should add empty vips to Patch when switching to UMN
  libs/ui-lib-tests/cypress/fixtures/create-mn/requests.ts
  libs/ui-lib-tests/cypress/integration/use-cases/create-cluster/with-user-managed-networking.cy.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfigurationForm.tsx
Labels: size/M, jira/valid-reference

#2248 MGMT:15167: Change IBM zSystems string to IBM Z
  libs/ui-lib/lib/ocm/components/clusterConfiguration/CpuArchitectureDropdown.tsx
Labels: size/XS, OCM

#2250 MGMT-14730: Add help text beside filename label
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/ExpandedManifest.tsx
Labels: size/S, OCM, jira/valid-reference

#2247 MGMT-14805: Custom manifests are added when editing an existing cluster in Cluster Details Page
  libs/ui-lib/lib/ocm/components/clusterConfiguration/CustomManifestCheckbox.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/ClusterDetails.tsx
Labels: size/M, OCM, jira/valid-reference

#2251 MGMT-14187: Deprecate ARM64_ARCHITECTURE_WITH_CLUSTER_MANAGED_NETWORKING
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfiguration.tsx
Labels: size/M, OCM, jira/valid-reference

#2233 MGMT-14811: Migrate the UI to use the new api_vips and ingress_vips
  libs/ui-lib-tests/cypress/fixtures/cluster/base-cluster.ts
  libs/ui-lib-tests/cypress/fixtures/cluster/validation-info-cluster-ready.ts
  libs/ui-lib-tests/cypress/fixtures/cluster/validation-info-host-discovery.ts
  libs/ui-lib-tests/cypress/fixtures/cluster/validation-info-host-renamed.ts
  libs/ui-lib-tests/cypress/fixtures/create-mn/1-cluster-created.ts
  libs/ui-lib-tests/cypress/fixtures/create-mn/requests.ts
  libs/ui-lib-tests/cypress/fixtures/create-sno/4-host-renamed.ts
  libs/ui-lib-tests/cypress/fixtures/create-sno/5-cluster-ready.ts
  libs/ui-lib-tests/cypress/fixtures/dualstack/1-network-ready.ts
  libs/ui-lib-tests/cypress/fixtures/dualstack/requests.ts
  libs/ui-lib-tests/cypress/fixtures/hosts/host-ready.ts
  libs/ui-lib-tests/cypress/fixtures/hosts/host-rename.ts
  libs/ui-lib-tests/cypress/integration/create-multinode/2-networking.cy.ts
  libs/ui-lib-tests/cypress/support/variables/networking.ts
  libs/ui-lib-tests/cypress/views/networkingPage.ts
  libs/ui-lib/lib/common/components/clusterDetail/ClusterCredentials.tsx
  libs/ui-lib/lib/common/components/clusterDetail/ConsoleModal.tsx
  libs/ui-lib/lib/common/components/clusterWizard/networkingSteps/VirtualIPControlGroup.tsx
  libs/ui-lib/lib/common/components/ui/formik/validationSchemas.ts
  libs/ui-lib/lib/common/config/constants.ts
  libs/ui-lib/lib/common/selectors/clusterSelectors.ts
  libs/ui-lib/lib/common/types/clusters.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfiguration.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfigurationForm.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/VirtualIPControlGroup.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/networkConfigurationValidation.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/review/ReviewNetworkingTable.tsx
  libs/ui-lib/lib/ocm/components/clusterDetail/ClusterProperties.tsx
Labels: lgtm, size/L, OCM, jira/valid-reference

#2244 MGMT-15011: Remove old references to deprecated FeatureSupportLevels API
  libs/locales/lib/en/translation.json
  libs/ui-lib/lib/common/components/newFeatureSupportLevels/FeatureSupportLevelBadge.tsx
  libs/ui-lib/lib/common/components/newFeatureSupportLevels/FeatureSupportLevelContext.tsx
  libs/ui-lib/lib/common/components/newFeatureSupportLevels/NewFeatureSupportLevelContext.tsx
  libs/ui-lib/lib/ocm/components/AddHosts/types.ts
  libs/ui-lib/lib/ocm/components/HostsClusterDetailTab/HostsClusterDetailTabContent.tsx
  libs/ui-lib/lib/ocm/components/HostsClusterDetailTab/utils.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/ExternalPartnerIntegrationsCheckbox.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmSNOControlGroup.tsx
  libs/ui-lib/lib/ocm/components/clusterDetail/AssistedInstallerDetailCard.tsx
  libs/ui-lib/lib/ocm/components/clusterDetail/AssistedInstallerExtraDetailCard.tsx
  libs/ui-lib/lib/ocm/components/clusters/ClusterPage.tsx
  libs/ui-lib/lib/ocm/components/clusters/NewClusterPage.tsx
  libs/ui-lib/lib/ocm/components/featureSupportLevels/FeatureSupportLevelProvider.tsx
  libs/ui-lib/lib/ocm/components/featureSupportLevels/ReviewClusterFeatureSupportLevels.tsx
  libs/ui-lib/lib/ocm/components/featureSupportLevels/featureStateUtils.ts
  libs/ui-lib/lib/ocm/components/featureSupportLevels/index.ts
  libs/ui-lib/lib/ocm/components/featureSupportLevels/types.ts
  libs/ui-lib/lib/ocm/components/index.ts
  libs/ui-lib/lib/ocm/components/newFeatureSupportLevels/NewFeatureSupportLevelProvider.tsx
  libs/ui-lib/lib/ocm/components/newFeatureSupportLevels/ReviewClusterNewFeatureSupportLevels.tsx
  libs/ui-lib/lib/ocm/components/newFeatureSupportLevels/index.ts
  libs/ui-lib/lib/ocm/components/newFeatureSupportLevels/newFeatureStateUtils.ts
  libs/ui-lib/lib/ocm/services/apis/FeatureSupportLevelsAPI.ts
  libs/ui-lib/lib/ocm/services/apis/NewFeatureSupportLevelsAPI.ts
  libs/ui-lib/lib/ocm/services/apis/index.ts
Labels: lgtm, size/XL, OCM, jira/valid-reference

#2254 MGMT-15202: Remove ASSISTED_INSTALLER_MCE_FEATURE capability
  libs/ui-lib/lib/common/features/featureGate.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/OperatorsStep.tsx
  libs/ui-lib/lib/ocm/components/featureSupportLevels/featureStateUtils.ts
Labels: lgtm, size/S, jira/valid-reference

#2253 MGMT-15202: Remove ASSISTED_INSTALLER_MCE_FEATURE capability - v2.22
  libs/ui-lib/lib/common/features/featureGate.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/OperatorsStep.tsx
  libs/ui-lib/lib/ocm/components/newFeatureSupportLevels/newFeatureStateUtils.ts
Labels: lgtm, size/S, jira/valid-reference

#2257 MGMT-14593: Update link to know if cluster supports multiarch
  libs/ui-lib/lib/common/config/constants.ts
Labels: lgtm, size/XS, OCM, jira/valid-reference

#2239 MGMT-15140: Do not report delayed CIM config as an error
  libs/locales/lib/en/translation.json
  libs/ui-lib/lib/cim/components/modals/CimConfiguration/CimConfigProgressAlert.tsx
  libs/ui-lib/lib/cim/components/modals/CimConfiguration/constants.ts
Labels: size/S, jira/valid-reference

#2224 MGMT-14421: Fix I18N for Hosts not showing up
  libs/ui-lib/lib/ocm/components/hosts/HostsDiscoveryTroubleshootingInfoLinkWithModal.tsx
  libs/ui-lib/lib/ocm/components/hosts/HostsTableEmptyState.tsx
Labels: size/S, jira/valid-reference

#2223 MGMT-14168 Fix OCP doc version for Networking
  libs/ui-lib/lib/cim/components/ClusterDeployment/ClusterDeploymentNetworkingForm.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/ClusterDeploymentNetworkingStep.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/ClusterDeploymentWizard.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/NetworkConfiguration.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/types.ts
  libs/ui-lib/lib/common/config/constants.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfiguration.tsx
Labels: lgtm, size/S

#2245 Add CIM wizardTransition unit tests
  libs/ui-lib/lib/cim/components/ClusterDeployment/wizardTransition.test.ts
Labels: size/L

#2259 MGMT-14284: Show the assisted installer detail card expanded by default
  libs/ui-lib/lib/ocm/components/clusterDetail/ClusterInstallationProgressCard.tsx
Labels: lgtm, size/XS, OCM, jira/valid-reference

#2260 MGMT-14130: (ACM 2.7) Fix hypershift scaling and mapping of AgentMachines to HostedCluster
  src/cim/components/Hypershift/modals/ManageHostsModal.tsx
  src/cim/components/Hypershift/utils/nodepool.ts
Labels: lgtm, size/XS, jira/valid-reference

#2261 MGMT-15256: Solving problems uploading yaml in staticIp page - v2.23
  libs/ui-lib/lib/common/components/ui/formik/CodeField.tsx
Labels: lgtm, size/M, OCM, jira/valid-reference

#2262 MGMT-15256: Solving problems uploading yaml in staticIp page
  libs/ui-lib/lib/common/components/ui/formik/CodeField.tsx
Labels: lgtm, size/M, OCM, jira/valid-reference

#2264 MGMT-15328: External partners remains selected after OCP < v4.14 is selected
  libs/ui-lib-tests/cypress/fixtures/infra-envs/feature-support.ts
  libs/ui-lib-tests/cypress/fixtures/infra-envs/openshift-versions.ts
  libs/ui-lib-tests/cypress/integration/use-cases/create-cluster/with-external-partner-integrations.cy.ts
  libs/ui-lib-tests/cypress/views/forms/ClusterDetailsForm.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmClusterDetailsFormFields.tsx
Labels: lgtm, size/M, OCM, jira/valid-reference

#2265 MGMT-15328: External partners remains selected after OCP < v4.14 is selected - 2.23
  libs/ui-lib-tests/cypress/fixtures/infra-envs/feature-support.ts
  libs/ui-lib-tests/cypress/fixtures/infra-envs/openshift-versions.ts
  libs/ui-lib-tests/cypress/integration/use-cases/create-cluster/with-external-partner-integrations.cy.ts
  libs/ui-lib-tests/cypress/views/forms/ClusterDetailsForm.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmClusterDetailsFormFields.tsx
Labels: lgtm, size/M, OCM, jira/valid-reference

#2266 MGMT-15016: Block static ip if oci is selected
  libs/ui-lib-tests/cypress/integration/use-cases/create-cluster/with-external-partner-integrations.cy.ts
  libs/ui-lib/lib/common/components/clusterWizard/clusterDetailsValidation.ts
  libs/ui-lib/lib/common/components/clusterWizard/types.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/CustomManifestCheckbox.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/HostsNetworkConfigurationControlGroup.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmClusterDetailsFormFields.tsx
  libs/ui-lib/lib/ocm/components/featureSupportLevels/featureStateUtils.ts
Labels: lgtm, size/M, jira/valid-reference

#2267 MGMT-15016: Block static ip if oci is selected - 2.23
  libs/ui-lib-tests/cypress/integration/use-cases/create-cluster/with-external-partner-integrations.cy.ts
  libs/ui-lib/lib/common/components/clusterWizard/clusterDetailsValidation.ts
  libs/ui-lib/lib/common/components/clusterWizard/types.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/CustomManifestCheckbox.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/HostsNetworkConfigurationControlGroup.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmClusterDetailsFormFields.tsx
  libs/ui-lib/lib/ocm/components/featureSupportLevels/featureStateUtils.ts
Labels: lgtm, size/M, jira/valid-reference

#2270 NO-ISSUE: Fixes a flaky test
  libs/ui-lib-tests/cypress/@types/Cypress.d.ts
  libs/ui-lib-tests/cypress/integration/use-cases/create-cluster/with-external-partner-integrations.cy.ts
  libs/ui-lib-tests/cypress/support/commands.ts
  libs/ui-lib-tests/cypress/views/forms/ClusterDetails/ClusterDetailsForm.ts
  libs/ui-lib-tests/cypress/views/forms/ClusterDetails/Fields/BaseDomainField.ts
  libs/ui-lib-tests/cypress/views/forms/ClusterDetails/Fields/ClusterNameField.ts
  libs/ui-lib-tests/cypress/views/forms/ClusterDetails/Fields/CustomManifestsField.ts
  libs/ui-lib-tests/cypress/views/forms/ClusterDetails/Fields/ExternalPartnerIntegrationsField.ts
  libs/ui-lib-tests/cypress/views/forms/ClusterDetails/Fields/HostsNetworkConfigurationField.ts
  libs/ui-lib-tests/cypress/views/forms/ClusterDetails/Fields/OpenShiftVersionField.ts
  libs/ui-lib-tests/cypress/views/forms/ClusterDetailsForm.ts
  libs/ui-lib-tests/cypress/views/pages/NewClusterPage.ts
  libs/ui-lib-tests/package.json
Labels: lgtm, size/L, jira/valid-reference

#2271 Bump word-wrap from 1.2.3 to 1.2.5
  yarn.lock
Labels: size/XS

#2255 MGMT-15151: Refactoring external platform integrations control
  libs/locales/lib/en/translation.json
  libs/ui-lib-tests/cypress/fixtures/cluster/external-platform-types.ts
  libs/ui-lib-tests/cypress/fixtures/infra-envs/feature-support.ts
  libs/ui-lib-tests/cypress/fixtures/infra-envs/openshift-versions.ts
  libs/ui-lib-tests/cypress/integration/features/platform-integration.cy.ts
  libs/ui-lib-tests/cypress/integration/features/read-only-multi-node.cy.ts
  libs/ui-lib-tests/cypress/integration/use-cases/create-cluster/with-external-partner-integrations.cy.ts
  libs/ui-lib-tests/cypress/support/interceptors.ts
  libs/ui-lib-tests/cypress/views/forms/ClusterDetails/ClusterDetailsForm.ts
  libs/ui-lib-tests/cypress/views/forms/ClusterDetails/Fields/BaseDomainField.ts
  libs/ui-lib-tests/cypress/views/forms/ClusterDetails/Fields/ClusterNameField.ts
  libs/ui-lib-tests/cypress/views/forms/ClusterDetails/Fields/CpuArchitectureField.ts
  libs/ui-lib-tests/cypress/views/forms/ClusterDetails/Fields/ExternalPartnerIntegrationsField.ts
  libs/ui-lib-tests/cypress/views/forms/ClusterDetails/Fields/PullSecretField.ts
  libs/ui-lib/lib/common/components/clusterWizard/clusterDetailsValidation.ts
  libs/ui-lib/lib/common/components/clusterWizard/types.ts
  libs/ui-lib/lib/common/components/newFeatureSupportLevels/NewFeatureSupportLevelContext.tsx
  libs/ui-lib/lib/common/features/featureGate.tsx
  libs/ui-lib/lib/common/types/clusters.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/ExternalPartnerIntegrationsCheckbox.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/ExternalPlatformDropdown.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/HostInventory.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmClusterDetailsFormFields.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfiguration.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/PlatformIntegration.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/PlatformIntegrationVsphere.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/ClusterDetailsForm.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/ClusterPlatformIntegrationHint.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/ClusterWizardFooter.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/HostDiscovery.tsx
  libs/ui-lib/lib/ocm/components/featureSupportLevels/FeatureSupportLevelProvider.tsx
  libs/ui-lib/lib/ocm/components/featureSupportLevels/featureStateUtils.ts
  libs/ui-lib/lib/ocm/hooks/useOracleDropdownItemState.ts
  libs/ui-lib/lib/ocm/services/ClusterDetailsService.ts
  libs/ui-lib/lib/ocm/services/HostDiscoveryService.ts
  libs/ui-lib/lib/ocm/services/types.ts
Labels: size/XL, OCM, jira/valid-reference

#2273 MGMT-15330: Make the custom manifest YAML editor read-only
  libs/ui-lib/lib/common/components/ui/formik/CodeField.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/ExpandedManifest.tsx
Labels: lgtm, size/XS, OCM, jira/valid-reference

#2274 MGMT-13808: Remove unnecessary cluster validations alert
  libs/locales/lib/en/translation.json
  libs/ui-lib/lib/common/components/clusterWizard/ClusterWizardStepValidationsAlert.tsx
Labels: size/XS, OCM, jira/valid-reference

#2277 MGMT-15367: Custom manifests names should be unique
  libs/ui-lib-tests/cypress/integration/custom-manifests/3-removing-adding-custom-manifests.cy.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/customManifestsValidationSchema.tsx
Labels: lgtm, size/S, OCM, jira/valid-reference

#2279 MGMT-15374: Unties common-to-ocm dependencies
  libs/ui-lib/lib/cim/components/ClusterDeployment/ShortCapacitySummary.tsx
  libs/ui-lib/lib/cim/components/Hypershift/DetailsPage/NodePoolsTable.tsx
  libs/ui-lib/lib/common/api/axiosClient.ts
  libs/ui-lib/lib/common/api/axiosExtensions.ts
  libs/ui-lib/lib/common/api/index.ts
  libs/ui-lib/lib/common/api/utils.ts
  libs/ui-lib/lib/common/apis/assisted-service/ClustersAPI.ts
  libs/ui-lib/lib/common/apis/assisted-service/ComponentVersionsAPI.ts
  libs/ui-lib/lib/common/apis/assisted-service/EventsAPI.ts
  libs/ui-lib/lib/common/apis/assisted-service/HostsAPI.ts
  libs/ui-lib/lib/common/apis/assisted-service/InfraEnvsAPI.ts
  libs/ui-lib/lib/common/apis/assisted-service/ManagedDomainsAPI.ts
  libs/ui-lib/lib/common/apis/assisted-service/SupportedOpenshiftVersionsAPI.ts
  libs/ui-lib/lib/common/components/clusterConfiguration/utils.ts
  libs/ui-lib/lib/common/components/clusterDetail/KubeconfigDownload.tsx
  libs/ui-lib/lib/common/components/clusterWizard/ClusterWizardStepValidationsAlert.tsx
  libs/ui-lib/lib/common/components/clusterWizard/ReviewHostsInventory.tsx
  libs/ui-lib/lib/common/components/clusterWizard/ReviewValidations.tsx
  libs/ui-lib/lib/common/components/clusterWizard/types.ts
  libs/ui-lib/lib/common/components/clusterWizard/validationsInfoUtils.ts
  libs/ui-lib/lib/common/components/hosts/HostRequirements.tsx
  libs/ui-lib/lib/common/components/hosts/HostRowDetail.tsx
  libs/ui-lib/lib/common/components/hosts/Hostname.tsx
  libs/ui-lib/lib/common/components/hosts/MassChangeHostnameModal.tsx
  libs/ui-lib/lib/common/components/hosts/hardwareInfo.ts
  libs/ui-lib/lib/common/components/hosts/tableUtils.tsx
  libs/ui-lib/lib/common/components/hosts/utils.ts
  libs/ui-lib/lib/common/components/newFeatureSupportLevels/utils.ts
  libs/ui-lib/lib/common/components/storage/DisksTable.tsx
  libs/ui-lib/lib/common/components/ui/ClusterEventsToolbar.tsx
  libs/ui-lib/lib/common/selectors/clusterSelectors.ts
  libs/ui-lib/lib/common/utils.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/ExpandedManifest.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfigurationTableBase.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/review/ReviewPreflightChecks.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/staticIp/data/fromInfraEnv.ts
  libs/ui-lib/lib/ocm/components/clusterDetail/utils.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/wizardTransition.ts
  libs/ui-lib/lib/ocm/components/hosts/HardwareStatus.tsx
  libs/ui-lib/lib/ocm/components/hosts/HostRequirementsContent.tsx
  libs/ui-lib/lib/ocm/components/hosts/utils.ts
  libs/ui-lib/lib/ocm/services/apis/ManagedDomainsAPI.ts
  libs/ui-lib/lib/ocm/services/apis/types.ts
Labels: lgtm, size/XL, jira/valid-reference

#2278 MGMT-15332: Adding same name for 2 manifests - UI shows error on all manifests
  libs/ui-lib-tests/cypress/integration/custom-manifests/2-modifying-existing-custom-manifest.cy.ts
  libs/ui-lib-tests/cypress/integration/custom-manifests/3-removing-adding-custom-manifests.cy.ts
  libs/ui-lib-tests/cypress/views/customManifestsPage.ts
  libs/ui-lib-tests/cypress/views/forms/CustomManifests/CustomManifestsForm.ts
  libs/ui-lib-tests/cypress/views/forms/CustomManifests/Fields/CollapsedManifest.ts
  libs/ui-lib-tests/cypress/views/forms/CustomManifests/Fields/ExpandedManifest.ts
  libs/ui-lib-tests/cypress/views/forms/CustomManifests/Fields/index.ts
  libs/ui-lib-tests/cypress/views/forms/index.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/ExpandedManifest.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/customManifestsValidationSchema.tsx
Labels: size/L, OCM, jira/valid-reference

#2269 MGMT-12926: Grouping disks by holders
  libs/ui-lib-tests/cypress/fixtures/storage/host-inventory.ts
  libs/ui-lib-tests/cypress/fixtures/storage/index.ts
  libs/ui-lib-tests/cypress/fixtures/storage/storage-hosts.ts
  libs/ui-lib-tests/cypress/integration/storage/storage-step-disk-holders.cy.ts
  libs/ui-lib-tests/cypress/integration/use-cases/create-cluster/with-mce-operator.cy.ts
  libs/ui-lib-tests/cypress/support/interceptors.ts
  libs/ui-lib-tests/cypress/support/variables/index.ts
  libs/ui-lib-tests/cypress/support/variables/installation.ts
  libs/ui-lib-tests/cypress/support/variables/storage-step.ts
  libs/ui-lib-tests/cypress/support/variables/test-constants.ts
  libs/ui-lib-tests/cypress/views/forms/Operators/OperatorsForm.ts
  libs/ui-lib-tests/cypress/views/forms/Storage/StorageForm.ts
  libs/ui-lib-tests/cypress/views/hostsTableSection.ts
  libs/ui-lib-tests/cypress/views/installationPage.ts
  libs/ui-lib-tests/cypress/views/reusableComponents/Alert.ts
  libs/ui-lib-tests/cypress/views/storagePage.ts
  libs/ui-lib/lib/common/components/storage/DisksTable.tsx
  libs/ui-lib/lib/common/components/storage/StorageDetail.tsx
  libs/ui-lib/lib/ocm/components/hosts/OdfDisksManualFormattingHint.tsx
  libs/ui-lib/lib/ocm/components/hosts/StorageAlerts.tsx
Labels: size/XL, OCM, jira/valid-reference

#2281 MGMT-15376: Browser gets stuck after selecting OCP version 4.9
  libs/ui-lib/lib/ocm/components/clusterConfiguration/CpuArchitectureDropdown.tsx
Labels: lgtm, size/S, OCM, jira/valid-reference

#2282 MGMT-15374: Separating common and ocm packages (leftovers)
  libs/ui-lib/lib/common/apis/assisted-service/ClustersAPI.ts
  libs/ui-lib/lib/common/apis/assisted-service/NewFeatureSupportLevelsAPI.ts
  libs/ui-lib/lib/common/apis/assisted-service/index.ts
  libs/ui-lib/lib/common/components/featureSupportLevels/types.ts
  libs/ui-lib/lib/common/components/newFeatureSupportLevels/NewFeatureSupportLevelContext.tsx
  libs/ui-lib/lib/common/components/newFeatureSupportLevels/index.ts
  libs/ui-lib/lib/common/components/newFeatureSupportLevels/types.ts
  libs/ui-lib/lib/common/components/newFeatureSupportLevels/utils.ts
  libs/ui-lib/lib/common/config/constants.ts
  libs/ui-lib/lib/ocm/components/AddHosts/types.ts
  libs/ui-lib/lib/ocm/components/HostsClusterDetailTab/HostsClusterDetailTabMock.tsx
  libs/ui-lib/lib/ocm/components/featureSupportLevels/index.ts
  libs/ui-lib/lib/ocm/components/hosts/utils.ts
  libs/ui-lib/lib/ocm/hooks/useOracleDropdownItemState.ts
  libs/ui-lib/lib/ocm/hooks/useSupportLevelsAPI.ts
  libs/ui-lib/lib/ocm/services/apis/ClustersAPI.ts
  libs/ui-lib/lib/ocm/services/apis/ComponentVersionsAPI.ts
  libs/ui-lib/lib/ocm/services/apis/EventsAPI.ts
  libs/ui-lib/lib/ocm/services/apis/HostsAPI.ts
  libs/ui-lib/lib/ocm/services/apis/InfraEnvsAPI.ts
  libs/ui-lib/lib/ocm/services/apis/ManagedDomainsAPI.ts
  libs/ui-lib/lib/ocm/services/apis/SupportedOpenshiftVersionsAPI.ts
  libs/ui-lib/lib/ocm/services/apis/index.ts
  libs/ui-lib/lib/ocm/services/apis/types.ts
  libs/ui-lib/lib/ocm/store/index.ts
Labels: lgtm, size/XL, jira/valid-reference

#2280 MGMT-15380: Not set userManagedNetworking=true when user select arm64 as cpu architecture
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmClusterDetailsFormFields.tsx
  libs/ui-lib/lib/ocm/services/ClusterDetailsService.ts
  libs/ui-lib/lib/ocm/services/types.ts
Labels: lgtm, size/S, OCM, jira/valid-reference
