Repository openshift-assisted/assisted-installer-ui, pull requests merged in 2023-09, with the labels that each got.

#2320 MGMT-13396: Cluster with multiple infra-envs - UI throws "cluster not found error"
  libs/ui-lib/lib/ocm/components/clusterDetail/AssistedInstallerDetailCard.tsx
Labels: lgtm, size/XS, OCM, jira/valid-reference

#2321 MGMT-15700: What's new + AI docs link should appear in all steps
  libs/ui-lib/lib/ocm/components/clusters/AssistedInstallerHeader.tsx
  libs/ui-lib/lib/ocm/components/clusters/ClusterPage.tsx
  libs/ui-lib/lib/ocm/components/clusters/NewClusterPage.tsx
Labels: lgtm, size/M, OCM, jira/valid-reference

#2324 NO-ISSUE: Updates assisted-ui and ui-lib
  apps/assisted-ui/public/logo.svg
  apps/assisted-ui/src/components/AboutButton.tsx
  apps/assisted-ui/src/components/AboutModal.tsx
  apps/assisted-ui/src/components/App.tsx
  apps/assisted-ui/src/components/App/App.tsx
  apps/assisted-ui/src/components/App/components/BackgroundImage.tsx
  apps/assisted-ui/src/components/App/components/Header.tsx
  apps/assisted-ui/src/components/FeedbackButton.tsx
  apps/assisted-ui/src/components/Header.tsx
  apps/assisted-ui/src/history.ts
  apps/assisted-ui/src/images/Logo-Red_Hat-OpenShift_Container_Platform-B-Reverse-RGB.png
  apps/assisted-ui/src/images/logo.svg
  apps/assisted-ui/src/images/metal3.svg
  apps/assisted-ui/src/images/metal3_facet-blacktext.png
  apps/assisted-ui/src/images/metal3_facet-blacktext.svg
  apps/assisted-ui/src/images/metal3_facet-whitetext.png
  apps/assisted-ui/src/images/metal3_facet-whitetext.svg
  apps/assisted-ui/src/main.tsx
  libs/ui-lib/lib/common/features/featureGate.tsx
  libs/ui-lib/lib/ocm/components/Routes.tsx
  libs/ui-lib/lib/ocm/store/store-day1.ts
  libs/ui-lib/lib/ocm/store/store-day2.ts
Labels: size/L, jira/valid-reference

#2325 NO-ISSUE: Remove unnecessary return of empty fragment
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmBaseDomainField.tsx
Labels: lgtm, size/XS, jira/valid-reference

#2326 MGMT-7525: Removes obsolete feature-toggles
  libs/ui-lib/lib/common/components/ui/formik/SingleNodeCheckbox.tsx
  libs/ui-lib/lib/common/features/featureGate.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmClusterDetailsFormFields.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmSingleNodeCheckbox.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/ExternalPlatformDropdown.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/OperatorsStep.tsx
Labels: lgtm, size/M, jira/valid-reference

#2323 MGMT-15570: Enable BMC form in Add hosts modal, for all platforms, if provisioning configuration exists
  libs/locales/lib/en/translation.json
  libs/ui-lib/lib/cim/components/ClusterDeployment/types.ts
  libs/ui-lib/lib/cim/components/InfraEnv/AddHostDropdown.tsx
  libs/ui-lib/lib/cim/components/InfraEnv/types.ts
  libs/ui-lib/lib/cim/components/modals/AddBmcHostModal.tsx
  libs/ui-lib/lib/cim/components/modals/AddBmcHostYamlModal.tsx
  libs/ui-lib/lib/cim/components/modals/ProvisioningConfigErrorAlert.tsx
  libs/ui-lib/lib/cim/components/modals/types.ts
Labels: size/L, jira/valid-reference

#2329 MGMT-15709: OCI option must be exposed only to selected users
  libs/ui-lib/lib/common/features/featureGate.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmClusterDetailsFormFields.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/ExternalPlatformDropdown.tsx
Labels: lgtm, size/S, jira/valid-reference

#2328 MGMT-15709: OCI option must be exposed only to selected users
  libs/ui-lib/lib/common/features/featureGate.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmClusterDetailsFormFields.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/ExternalPlatformDropdown.tsx
Labels: size/S, jira/valid-reference

#2331 MGMT-15714: Allow to load multi-yaml files in custom manifests page
  libs/ui-lib-tests/cypress/fixtures/custom-manifests/files/manifest_multiple.yaml
  libs/ui-lib-tests/cypress/integration/custom-manifests/2-modifying-existing-custom-manifest.cy.ts
  libs/ui-lib-tests/cypress/views/common.ts
  libs/ui-lib/lib/common/utils.ts
Labels: lgtm, size/M, OCM

#2332 MGMT-15714: Allow to load multi-yaml files in custom manifests page - 2.24
  libs/ui-lib-tests/cypress/fixtures/custom-manifests/files/manifest_multiple.yaml
  libs/ui-lib-tests/cypress/integration/custom-manifests/2-modifying-existing-custom-manifest.cy.ts
  libs/ui-lib-tests/cypress/views/common.ts
  libs/ui-lib/lib/common/utils.ts
Labels: lgtm, size/M, OCM, jira/valid-reference, OCI

#2333 MGMT-15714: Allow to load multi-yaml files in custom manifests page - 2.25
  libs/ui-lib-tests/cypress/fixtures/custom-manifests/files/manifest_multiple.yaml
  libs/ui-lib-tests/cypress/integration/custom-manifests/2-modifying-existing-custom-manifest.cy.ts
  libs/ui-lib-tests/cypress/views/common.ts
  libs/ui-lib/lib/common/utils.ts
Labels: lgtm, size/M, OCM, jira/valid-reference, OCI

#2334 MGMT-15726: Add developer preview badge to oci option in external platform dropdown
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/ExternalPlatformDropdown.tsx
Labels: lgtm, size/XS, OCM, jira/valid-reference, OCI

#2336 MGMT-15361: Disable external partner integration option when integration not supported - 2.24
  libs/ui-lib-tests/cypress/integration/features/read-only-multi-node.cy.ts
  libs/ui-lib-tests/cypress/integration/use-cases/create-cluster/with-external-partner-integrations.cy.ts
  libs/ui-lib-tests/cypress/views/forms/ClusterDetails/Fields/ExternalPartnerIntegrationsField.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmClusterDetailsFormFields.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/ExternalPlatformDropdown.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/constants.tsx
  libs/ui-lib/lib/ocm/components/featureSupportLevels/featureStateUtils.ts
  libs/ui-lib/lib/ocm/hooks/useOracleDropdownItemState.ts
Labels: lgtm, size/L, OCM, jira/valid-reference, OCI

#2335 MGMT-15616: Hide OCI platform integration "learn more" link until we have correct link - 2.24
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/PlatformIntegrationNote.tsx
Labels: lgtm, size/S, OCM, jira/valid-reference, OCI

#2330 MGMT-15708: cluster details page - block power/z + SNO + OCI platform
  libs/ui-lib-tests/cypress/integration/use-cases/create-cluster/with-external-partner-integrations.cy.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/ExternalPlatformDropdown.tsx
Labels: lgtm, size/S, OCM, OCI

#2316 NO-ISSUE: Prepend build:all in start:watch_mode script
  package.json
Labels: size/XS, jira/valid-reference

#2338 MGMT-15725: Add developer preview badge to oci option in external platform dropdown - 2.24
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/ExternalPlatformDropdown.tsx
Labels: lgtm, size/XS, OCM, jira/valid-reference, OCI

#2337 MGMT-15530: external platform integration dropdown - disable Nutanix and Vsphere when sno is selected - 2.24
  libs/ui-lib-tests/cypress/integration/use-cases/create-cluster/with-external-partner-integrations.cy.ts
  libs/ui-lib-tests/cypress/views/forms/ClusterDetails/ClusterDetailsForm.ts
  libs/ui-lib-tests/cypress/views/forms/ClusterDetails/Fields/SnoField.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmClusterDetailsFormFields.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/ExternalPlatformDropdown.tsx
Labels: lgtm, size/M, OCM, jira/valid-reference, OCI

#2289 MGMT-15251: Link to infra env page instead of networking in case of n…
  libs/locales/lib/en/translation.json
  libs/ui-lib/lib/cim/components/ClusterDeployment/wizardTransition.ts
  libs/ui-lib/lib/cim/components/helpers/toAssisted.ts
  libs/ui-lib/lib/common/components/clusterWizard/ReviewValidations.tsx
  libs/ui-lib/lib/common/components/clusterWizard/types.ts
  libs/ui-lib/lib/common/components/clusterWizard/validationsInfoUtils.ts
Labels: size/M, jira/valid-reference

#2341 MGMT-15708: cluster details page - block power/z + SNO + OCI platform - 2.25
  libs/ui-lib-tests/cypress/integration/use-cases/create-cluster/with-external-partner-integrations.cy.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/ExternalPlatformDropdown.tsx
Labels: lgtm, size/S, OCM, jira/valid-reference, OCI

#2340 MGMT-15708: cluster details page - block power/z + SNO + OCI platform - 2.24
  libs/ui-lib-tests/cypress/integration/use-cases/create-cluster/with-external-partner-integrations.cy.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/ExternalPlatformDropdown.tsx
Labels: lgtm, size/S, OCM, jira/valid-reference, OCI

#2342 MGMT-7525: Removes obsolete feature-toggles - 2.24
  libs/ui-lib/lib/common/components/ui/formik/SingleNodeCheckbox.tsx
  libs/ui-lib/lib/common/features/featureGate.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmClusterDetailsFormFields.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmSingleNodeCheckbox.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/ExternalPlatformDropdown.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/OperatorsStep.tsx
Labels: lgtm, size/M, OCM, jira/valid-reference, OCI

#2343 MGMT-15709: OCI option must be exposed only to selected users - 2.24
  libs/ui-lib/lib/common/features/featureGate.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmClusterDetailsFormFields.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/ExternalPlatformDropdown.tsx
Labels: lgtm, size/S, OCM, jira/valid-reference, OCI

#2344 NO-ISSUE: Preloads the Redux store with default feature-flags
  libs/ui-lib/lib/ocm/components/Routes.tsx
  libs/ui-lib/lib/ocm/store/store-day1.ts
Labels: size/S, jira/valid-reference

#2346 MGMT-15760: Change the text for Oracle in the External partner integrations dropdown
  libs/ui-lib-tests/cypress/fixtures/cluster/external-platform-types.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/constants.tsx
Labels: lgtm, size/XS, OCM

#2347 MGMT-15760: Change the text for Oracle in the External partner integrations dropdown - 2.25
  libs/ui-lib-tests/cypress/fixtures/cluster/external-platform-types.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/constants.tsx
Labels: lgtm, size/XS, OCM, jira/valid-reference, OCI

#2348 MGMT-15760: Change the text for Oracle in the External partner integrations dropdown - 2.24
  libs/ui-lib-tests/cypress/fixtures/cluster/external-platform-types.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/constants.tsx
Labels: lgtm, size/XS, OCM, jira/valid-reference, OCI

#2349 MGMT-15760: Change the text for Oracle in the External partner integrations dropdown - followup
  libs/ui-lib-tests/cypress/fixtures/cluster/external-platform-types.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/constants.tsx
Labels: lgtm, size/XS, OCM, jira/valid-reference, OCI

#2350 MGMT-15760: Change the text for Oracle in the External partner integrations dropdown - followup - 2.24
  libs/ui-lib-tests/cypress/fixtures/cluster/external-platform-types.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/constants.tsx
Labels: lgtm, size/XS, OCM, jira/valid-reference, OCI

#2351 MGMT-15760: Change the text for Oracle in the External partner integrations dropdown - followup - 2.25
  libs/ui-lib-tests/cypress/fixtures/cluster/external-platform-types.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/constants.tsx
Labels: lgtm, size/XS, OCM, jira/valid-reference, OCI

#2354 MGMT-15734: Remove helper from Oracle platform when hover on it [2.25 BACKPORT]
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/ExternalPlatformDropdown.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/constants.tsx
Labels: lgtm, size/S, OCM, jira/valid-reference

#2352 MGMT-15734: Remove helper from Oracle platform when hover on it
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/ExternalPlatformDropdown.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/constants.tsx
Labels: size/S, OCM, jira/valid-reference

#2353 MGMT-15734: Remove helper from Oracle platform when hover on it [2.24 BACKPORT]
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/ExternalPlatformDropdown.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/constants.tsx
Labels: lgtm, size/S, OCM, jira/valid-reference

#2317 MGMT-13850: error while trying to load OCP versions
  libs/ui-lib/lib/ocm/components/clusterWizard/ClusterDetails.tsx
Labels: lgtm, size/S, OCM, jira/valid-reference

#2355 MGMT-15737: Removing references to deprecated calls to supported-platforms API
  libs/locales/lib/en/translation.json
  libs/ui-lib/lib/common/api/assisted-service/ClustersAPI.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfiguration.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfigurationForm.tsx
  libs/ui-lib/lib/ocm/hooks/index.ts
  libs/ui-lib/lib/ocm/hooks/useClusterSupportedPlatforms.ts
Labels: lgtm, size/L, jira/valid-reference

#2345 MGMT-14334: Add support for Nutanix platform
  libs/ui-lib/lib/cim/components/ClusterDeployment/ACMClusterDeploymentDetailsStep.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/ClusterDeploymentDetailsForm.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/ClusterDeploymentDetailsStep.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/ClusterDeploymentHostSelectionStep.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/ClusterDeploymentHostsSelection.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/ClusterDeploymentNetworkingForm.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/ClusterDeploymentNetworkingStep.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/ClusterDeploymentWizard.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/ClusterDetailsFormFields.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/types.ts
  libs/ui-lib/lib/cim/components/Hypershift/hooks/useSupportedOCPVersions.ts
  libs/ui-lib/lib/cim/components/helpers/versions.ts
Labels: size/M, jira/valid-reference

#2356 MGMT-15737: Removing references to deprecated calls to supported-platforms API - 2.24
  libs/locales/lib/en/translation.json
  libs/ui-lib/lib/common/api/assisted-service/ClustersAPI.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfiguration.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfigurationForm.tsx
  libs/ui-lib/lib/ocm/hooks/index.ts
  libs/ui-lib/lib/ocm/hooks/useClusterSupportedPlatforms.ts
Labels: lgtm, size/L, OCM, jira/valid-reference

#2357 MGMT-15737: Removing references to deprecated calls to supported-platforms API - 2.25
  libs/locales/lib/en/translation.json
  libs/ui-lib/lib/common/api/assisted-service/ClustersAPI.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfiguration.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfigurationForm.tsx
  libs/ui-lib/lib/ocm/hooks/index.ts
  libs/ui-lib/lib/ocm/hooks/useClusterSupportedPlatforms.ts
Labels: lgtm, size/L, OCM, jira/valid-reference

#2359 NO ISSUE: Folder name typo
  libs/ui-lib/lib/common/services/DateAndTime.tsx
  libs/ui-lib/lib/ocm/components/clusterDetail/ClusterDetailStatusMessages.tsx
Labels: size/XS

#2363 MGMT-15737: Disable UMN when platform type is nutanix or vsphere - 2.25
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfiguration.tsx
Labels: lgtm, size/S, OCM, jira/valid-reference

#2362 MGMT-15737: Disable UMN when platform type is nutanix or vsphere - 2.24
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfiguration.tsx
Labels: lgtm, size/S, OCM, jira/valid-reference

#2361 MGMT-15737: Disable UMN when platform type is nutanix or vsphere
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfiguration.tsx
Labels: lgtm, size/S, jira/valid-reference

#2370 MGMT-15803: Update calls to feature support levels API using platform type param
  libs/types/assisted-installer-service.d.ts
  libs/ui-lib-tests/cypress/fixtures/day2-flow/day1-ai-cluster.ts
  libs/ui-lib-tests/cypress/fixtures/storage/storage-cluster.ts
  libs/ui-lib/lib/common/api/assisted-service/NewFeatureSupportLevelsAPI.ts
  libs/ui-lib/lib/common/components/newFeatureSupportLevels/types.ts
  libs/ui-lib/lib/common/types/featureSupportLevel.ts
  libs/ui-lib/lib/ocm/components/HostsClusterDetailTab/HostsClusterDetailTabContent.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/CpuArchitectureDropdown.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmClusterDetailsFormFields.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfiguration.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/ExternalPlatformDropdown.tsx
  libs/ui-lib/lib/ocm/components/clusterDetail/AssistedInstallerDetailCard.tsx
  libs/ui-lib/lib/ocm/components/clusterDetail/AssistedInstallerExtraDetailCard.tsx
  libs/ui-lib/lib/ocm/components/clusters/ClusterPage.tsx
  libs/ui-lib/lib/ocm/components/featureSupportLevels/FeatureSupportLevelProvider.tsx
  libs/ui-lib/lib/ocm/components/featureSupportLevels/ReviewClusterFeatureSupportLevels.tsx
  libs/ui-lib/lib/ocm/components/featureSupportLevels/featureStateUtils.ts
  libs/ui-lib/lib/ocm/hooks/useSupportLevelsAPI.ts
Labels: lgtm, size/L, OCM, jira/valid-reference

#2364 MGMT-15649: Fix incorrect docs link for nmstate config
  libs/ui-lib/lib/cim/components/InfraEnv/InfraEnvFormPage.tsx
  libs/ui-lib/lib/cim/components/modals/AddHostModal.tsx
  libs/ui-lib/lib/common/components/clusterConfiguration/DiscoveryImageConfigForm.tsx
  libs/ui-lib/lib/common/components/clusterConfiguration/DownloadIso.tsx
  libs/ui-lib/lib/common/config/constants.ts
Labels: size/M, jira/valid-reference

#2371 MGMT-15803: Update calls to feature support levels API using platform type param - 2.25
  libs/types/assisted-installer-service.d.ts
  libs/ui-lib-tests/cypress/fixtures/day2-flow/day1-ai-cluster.ts
  libs/ui-lib-tests/cypress/fixtures/storage/storage-cluster.ts
  libs/ui-lib/lib/common/api/assisted-service/NewFeatureSupportLevelsAPI.ts
  libs/ui-lib/lib/common/components/newFeatureSupportLevels/types.ts
  libs/ui-lib/lib/common/types/featureSupportLevel.ts
  libs/ui-lib/lib/ocm/components/HostsClusterDetailTab/HostsClusterDetailTabContent.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/CpuArchitectureDropdown.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmClusterDetailsFormFields.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfiguration.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/platformIntegration/ExternalPlatformDropdown.tsx
  libs/ui-lib/lib/ocm/components/clusterDetail/AssistedInstallerDetailCard.tsx
  libs/ui-lib/lib/ocm/components/clusterDetail/AssistedInstallerExtraDetailCard.tsx
  libs/ui-lib/lib/ocm/components/clusters/ClusterPage.tsx
  libs/ui-lib/lib/ocm/components/featureSupportLevels/FeatureSupportLevelProvider.tsx
  libs/ui-lib/lib/ocm/components/featureSupportLevels/ReviewClusterFeatureSupportLevels.tsx
  libs/ui-lib/lib/ocm/components/featureSupportLevels/featureStateUtils.ts
  libs/ui-lib/lib/ocm/hooks/useSupportLevelsAPI.ts
Labels: lgtm, size/L, OCM, jira/valid-reference

#2372 MGMT-15816: Use platform type to call support-levels API in Networking page - nutanix and vsphere leftovers
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfiguration.tsx
  libs/ui-lib/lib/ocm/components/featureSupportLevels/featureStateUtils.ts
Labels: size/M, OCM, jira/valid-reference

#2373 MGMT-15816: Use platform type to call support-levels API in Networking page - nutanix and vsphere leftovers -2.25
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfiguration.tsx
  libs/ui-lib/lib/ocm/components/featureSupportLevels/featureStateUtils.ts
Labels: lgtm, size/M, OCM, jira/valid-reference

#2367 MGMT-15652 Fix disappearing events modal
  libs/ui-lib/lib/cim/components/ClusterDeployment/ClusterDeploymentDetails.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/helpers.ts
Labels: size/L

#2369 Fix storage section disappearing for Cluster details screen
  libs/ui-lib/lib/common/components/hosts/HostRowDetail.tsx
  libs/ui-lib/lib/ocm/components/hosts/HostsDiscoveryTable.tsx
Labels: size/XS

#2375 MGMT-15366 Fix searching for agents that belong to nodepool
  libs/ui-lib/lib/cim/components/Hypershift/utils/nodepool.ts
Labels: size/XS

#2368 CIM is still using apiVIP/ingressVIP (singular form)
  libs/ui-lib/lib/common/components/ui/formik/validationSchemas.ts
Labels: lgtm, size/S

#2365 MGMT-13852: Change base domain helper text
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmBaseDomainField.tsx
Labels: size/XS, OCM, jira/valid-reference

#2377 MGMT-15756: Adds API clients for AMS and authorization svc
  libs/types/accounts-management-service.d.ts
  libs/types/authorization-service.d.ts
  libs/types/package.json
  libs/ui-lib/lib/common/api/accounts-management-service/access-token-api.ts
  libs/ui-lib/lib/common/api/accounts-management-service/current-account-api.ts
  libs/ui-lib/lib/common/api/accounts-management-service/organizations-api.ts
  libs/ui-lib/lib/common/api/authorization-service/all-apis.ts
Labels: lgtm, size/L, jira/valid-reference

#2322 MGMT-15668: Cluster name and base domain name fields need to type something for trigger validations
  libs/ui-lib/lib/common/components/ui/formik/InputField.tsx
  libs/ui-lib/lib/common/components/ui/formik/RichInputField.tsx
Labels: size/S, OCM, jira/valid-reference

#2386 MGMT-15857: Fix GH actions (Cypress)
  .github/workflows/pull-request.yaml
  libs/ui-lib-tests/package.json
  yarn.lock
Labels: size/L, jira/valid-reference

#2378 MGMT-15647: Unable to change to temporary 60-day domain
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmBaseDomainField.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmClusterDetailsFormFields.tsx
Labels: size/S, OCM, jira/valid-reference

#2382 MGMT-15791 Boot MAC address is required only for vbmc.
  libs/locales/lib/en/translation.json
  libs/ui-lib/lib/cim/components/Agent/BMCForm.tsx
Labels: size/XS

#2381 MGMT-15817 Show postinstall info for CIM/Nutanix clusters
  libs/locales/lib/en/translation.json
  libs/ui-lib/lib/common/components/clusterDetail/PostInstallAlert.tsx
  libs/ui-lib/lib/common/components/clusterDetail/index.ts
  libs/ui-lib/lib/ocm/components/clusterDetail/ClusterDetailStatusMessages.tsx
Labels: size/M

#2374 Use the UI-settings API to denote that the custom manifests step should be shown
  libs/ui-lib-tests/cypress/integration/custom-manifests/1-create-cluster-with-custom-manifests.cy.ts
  libs/ui-lib-tests/cypress/integration/custom-manifests/2-modifying-existing-custom-manifest.cy.ts
  libs/ui-lib-tests/cypress/integration/custom-manifests/3-removing-adding-custom-manifests.cy.ts
  libs/ui-lib-tests/cypress/integration/day-2/2-adding-hosts.cy.ts
  libs/ui-lib-tests/cypress/support/interceptors.ts
  libs/ui-lib-tests/cypress/support/utils.ts
  libs/ui-lib-tests/cypress/support/variables/common.ts
  libs/ui-lib-tests/cypress/support/variables/index.ts
  libs/ui-lib-tests/cypress/views/bareMetalDiscovery.ts
  libs/ui-lib-tests/cypress/views/clusterList.ts
  libs/ui-lib-tests/cypress/views/common.ts
  libs/ui-lib-tests/cypress/views/reviewCreate.ts
  libs/ui-lib-tests/cypress/views/staticIpPage.ts
  libs/ui-lib/lib/common/api/assisted-service/UISettingsAPI.ts
  libs/ui-lib/lib/common/api/assisted-service/index.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/CustomManifestCheckbox.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmClusterDetailsFormFields.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/CustomManifestsPage.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/CustomManifestsForm.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/ExpandedManifest.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/ClusterDetails.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/ClusterDetailsForm.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/ClusterWizardContext.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/ClusterWizardContextProvider.tsx
  libs/ui-lib/lib/ocm/hooks/index.ts
  libs/ui-lib/lib/ocm/hooks/useUISettings.ts
  libs/ui-lib/lib/ocm/services/ClusterDetailsService.ts
  libs/ui-lib/lib/ocm/services/ClustersService.ts
  libs/ui-lib/lib/ocm/services/UISettingsService.ts
  libs/ui-lib/lib/ocm/services/index.ts
  libs/ui-lib/lib/ocm/services/types.ts
Labels: lgtm, size/XL, OCM

#2390 MGMT-15192: Page not found displayed when unprivileged user attempts to create a cluster using Assisted Installer through OCM
  libs/ui-lib/lib/common/components/ui/NoPermissionsError.tsx
  libs/ui-lib/lib/common/components/ui/index.ts
Labels: size/S, OCM, jira/valid-reference

#2385 MGMT-9503: remove openshift version error handling in day 2 UI
  libs/ui-lib/lib/ocm/components/HostsClusterDetailTab/HostsClusterDetailTabContent.tsx
  libs/ui-lib/lib/ocm/components/HostsClusterDetailTab/HostsClusterDetailTabContentErrors.tsx
  libs/ui-lib/lib/ocm/hooks/useOpenshiftVersions.tsx
  libs/ui-lib/lib/ocm/services/Day2ClusterService.ts
Labels: size/M, OCM, jira/valid-reference

#2379 MGMT-15652 Fix disappearing events modal
  libs/ui-lib/lib/cim/components/ClusterDeployment/ClusterDeploymentDetails.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/helpers.ts
Labels: size/L

#2392 MGMT-15871: Changing types in external API calls to use types from sdks package
  libs/types/README.md
  libs/types/accounts-management-service.d.ts
  libs/types/authorization-service.d.ts
  libs/types/package.json
  libs/ui-lib/lib/common/api/accounts-management-service/access-token-api.ts
  libs/ui-lib/lib/common/api/accounts-management-service/current-account-api.ts
  libs/ui-lib/lib/common/api/accounts-management-service/organizations-api.ts
  libs/ui-lib/lib/common/api/authorization-service/all-apis.ts
Labels: lgtm, size/L, jira/valid-reference

#2318 MGMT-15667: Clear base domain last error message when changing the textbox content
  libs/ui-lib/lib/ocm/components/clusterWizard/ClusterDetailsForm.tsx
Labels: size/XS, OCM, jira/valid-reference

#2394 Revert "MGMT-15871: Changing types in external API calls to use types from sdks package"
  libs/types/README.md
  libs/types/accounts-management-service.d.ts
  libs/types/authorization-service.d.ts
  libs/types/package.json
  libs/ui-lib/lib/common/api/accounts-management-service/access-token-api.ts
  libs/ui-lib/lib/common/api/accounts-management-service/current-account-api.ts
  libs/ui-lib/lib/common/api/accounts-management-service/organizations-api.ts
  libs/ui-lib/lib/common/api/authorization-service/all-apis.ts
Labels: size/L, jira/valid-reference
