Repository openshift-assisted/assisted-installer-ui, pull requests merged in 2024-09, with the labels that each got.

#2662 MGMT-18862: production via console.dev.redhat.com returns error
  libs/ui-lib/lib/ocm/components/clusterDetail/AssistedInstallerDetailCard.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/ClusterWizardFooter.tsx
Labels: lgtm, size/M, jira/valid-reference

#2659 MGMT-18099: warning of error in prepare installation remain even after fixing manifest name
  libs/ui-lib/lib/common/components/clusterWizard/ClusterWizardStepValidationsAlert.tsx
  libs/ui-lib/lib/common/types/index.ts
  libs/ui-lib/lib/common/types/ui-settings.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/CustomManifestsForm.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/review/ReviewStep.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/ClusterWizardContext.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/ClusterWizardFooter.tsx
  libs/ui-lib/lib/ocm/hooks/useUISettings.ts
  libs/ui-lib/lib/ocm/services/UISettingsService.ts
  libs/ui-lib/lib/ocm/services/types.ts
Labels: size/M, jira/valid-reference

#2655 NO-ISSUE: Work with OCM-UI router v6 ugprade
  libs/ui-lib-tests/cypress/integration/create-multinode/0-create-cluster.cy.ts
  libs/ui-lib-tests/cypress/integration/create-sno/0-create-cluster.cy.ts
  libs/ui-lib-tests/cypress/integration/static-ip/0-create-cluster.cy.ts
  libs/ui-lib-tests/cypress/integration/ui-behaviour/cluster-creation.cy.ts
  libs/ui-lib-tests/cypress/integration/use-cases/create-cluster/with-custom-ocp-releases.cy.ts
  libs/ui-lib-tests/cypress/support/variables/cluster-details.ts
  libs/ui-lib-tests/cypress/views/common.ts
  libs/ui-lib-tests/cypress/views/pages/ClusterPage.ts
  libs/ui-lib-tests/cypress/views/pages/NewClusterPage.ts
  libs/ui-lib/lib/ocm/components/Routes.tsx
  libs/ui-lib/lib/ocm/components/clusters/ClusterBreadcrumbs.tsx
  libs/ui-lib/package.json
  yarn.lock
Labels: size/M, jira/valid-reference

#2672 MGMT-18975: Solving problems with ToolbarFilter in ClusterEventsToolbar
  libs/ui-lib/lib/common/components/ui/ClusterEventsToolbar.tsx
  libs/ui-lib/lib/common/components/ui/CustomToolbarFilter.tsx
  libs/ui-lib/lib/ocm/components/clusters/ClustersListToolbar.tsx
Labels: lgtm, size/XS, OCM, jira/valid-reference

#2673 MGMT-19008: CNV should be dev preview in case CPU is ARM64
  libs/ui-lib/lib/ocm/components/clusterConfiguration/operators/CnvCheckbox.tsx
Labels: size/S, OCM, jira/valid-reference
