Repository openshift-assisted/assisted-installer-ui, pull requests merged in 2024-11, with the labels that each got.

#2686 update the HTTPS proxy notification tooltip
  libs/locales/lib/en/translation.json
Labels: size/XS, OCM

#2692 MGMT-18859: Add MTV operator to Operators page
  libs/locales/lib/en/translation.json
  libs/types/assisted-installer-service.d.ts
  libs/ui-lib-tests/cypress/integration/use-cases/create-cluster/with-mtv-operator.cy.ts
  libs/ui-lib-tests/cypress/views/forms/Operators/OperatorsForm.ts
  libs/ui-lib/lib/common/config/constants.ts
  libs/ui-lib/lib/common/config/docs_links.ts
  libs/ui-lib/lib/common/types/clusters.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/operators/MtvOperatorCheckbox.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/operators/MtvRequirements.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/Operators.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/OperatorsStep.tsx
  libs/ui-lib/lib/ocm/components/featureSupportLevels/featureStateUtils.ts
  libs/ui-lib/lib/ocm/services/OperatorsService.tsx
Labels: lgtm, size/L, OCM, jira/valid-reference

#2691 MGMT-19202: Changes related with Assisted Migration
  libs/ui-lib/lib/common/config/constants.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/CustomManifestCheckbox.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/ClusterDetails.tsx
  libs/ui-lib/lib/ocm/services/ClustersService.ts
Labels: size/M, OCM, jira/valid-reference

#2683 MGMT-19152: Add network bonding configuration in the UI
  libs/locales/lib/en/translation.json
  libs/ui-lib/lib/ocm/components/clusterConfiguration/staticIp/components/CollapsedHost.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/staticIp/components/FormViewHosts/BondsConfirmationModal.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/staticIp/components/FormViewHosts/BondsSelect.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/staticIp/components/FormViewHosts/FormViewHostsFields.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/staticIp/components/FormViewHosts/formViewHostsValidationSchema.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/staticIp/components/YamlView/YamlViewFields.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/staticIp/data/dataTypes.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/staticIp/data/emptyData.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/staticIp/data/formDataFromInfraEnvField.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/staticIp/data/formDataToInfraEnvField.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/staticIp/data/nmstateTypes.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/staticIp/data/nmstateYaml.ts
Labels: lgtm, size/L, OCM, jira/valid-reference

#2695 NO-ISSUE: Update translation instructions
  docs/I18N.md
Labels: lgtm, size/XS, jira/valid-reference

#2698 MGMT-19285: Change data-testid='nic-status' in networking page to data-testid='host-status'
  libs/ui-lib-tests/cypress/support/variables/networking.ts
  libs/ui-lib-tests/cypress/views/networkingPage.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfigurationTableBase.tsx
Labels: lgtm, size/S, OCM, jira/valid-reference

#2699 MGMT-19285: Change data-testid='nic-status' in networking page to data-testid='host-status' - 2.36
  libs/ui-lib-tests/cypress/support/variables/networking.ts
  libs/ui-lib-tests/cypress/views/networkingPage.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfigurationTableBase.tsx
Labels: lgtm, size/S, OCM, jira/valid-reference

#2696 MGMT-19275: Show correct requirements for MTV operator
  libs/ui-lib/lib/ocm/components/clusterConfiguration/operators/MtvRequirements.tsx
Labels: size/XS, OCM, jira/valid-reference

#2697 MGMT-19275: Show correct requirements for MTV operator - 2.36
  libs/ui-lib/lib/ocm/components/clusterConfiguration/operators/MtvRequirements.tsx
Labels: size/XS, OCM, jira/valid-reference

#2700 MGMT-19276: Add SNO tooltip information for MTV operator
  libs/ui-lib/lib/ocm/components/featureSupportLevels/featureStateUtils.ts
Labels: size/XS, OCM, jira/valid-reference

#2702 MGMT-19274: MTV Operator - selecting mtv operator does not select cnv
  libs/ui-lib-tests/cypress/integration/use-cases/create-cluster/with-mtv-operator.cy.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/operators/MtvOperatorCheckbox.tsx
Labels: size/XS, jira/valid-reference

#2703 MGMT-19274: MTV Operator - selecting mtv operator does not select cnv - 2.36
  libs/ui-lib-tests/cypress/integration/use-cases/create-cluster/with-mtv-operator.cy.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/operators/MtvOperatorCheckbox.tsx
Labels: size/XS, OCM, jira/valid-reference

#2705 MGMT-19196: Implement 'Paste' button in Custom manifests form
  libs/ui-lib/lib/common/components/ui/formik/CodeField.tsx
  libs/ui-lib/lib/common/components/ui/formik/types.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/ExpandedManifest.tsx
Labels: lgtm, size/M, OCM, jira/valid-reference

#2706 MGMT-19330: MTV on SNO - operator enabled
  libs/ui-lib/lib/ocm/components/featureSupportLevels/featureStateUtils.ts
Labels: size/XS, OCM, jira/valid-reference

#2707 MGMT-19321: Deselect bond and cancel wouldn't have to remove the bond
  libs/ui-lib/lib/ocm/components/clusterConfiguration/staticIp/components/FormViewHosts/FormViewHostsFields.tsx
Labels: size/XS, OCM, jira/valid-reference

#2709 MGMT-19196: Implement 'Paste' button in Custom manifests form - 2.36
  libs/ui-lib/lib/common/components/ui/formik/CodeField.tsx
  libs/ui-lib/lib/common/components/ui/formik/types.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/ExpandedManifest.tsx
Labels: size/M, OCM, jira/valid-reference

#2708 MGMT-19322: Bonds Mac Addresses should be required fields
  libs/ui-lib/lib/ocm/components/clusterConfiguration/staticIp/components/FormViewHosts/formViewHostsValidationSchema.tsx
Labels: size/XS, OCM, jira/valid-reference

#2690 ACM-13211: Low text visibility in label input field due to dark background color in ACM infrastructure environment creation page
  libs/ui-lib/lib/common/components/ui/formik/LabelField.css
Labels: size/XS, jira/valid-reference

#2687 MGMT-19153: Expose osImageVersion field when creating InfraEnv (late-binding)
  libs/locales/lib/en/translation.json
  libs/ui-lib/lib/cim/components/InfraEnv/EnvironmentDetails.tsx
  libs/ui-lib/lib/cim/components/InfraEnv/InfraEnvFormPage.tsx
  libs/ui-lib/lib/cim/components/InfraEnv/OpenshiftVersionDropdown.tsx
  libs/ui-lib/lib/cim/types/k8s/agent-service-config.ts
  libs/ui-lib/lib/cim/types/k8s/infra-env-k8s-resource.ts
Labels: lgtm, size/L, jira/valid-reference

#2688 MGMT-19153: Expose osImageVersion field when creating InfraEnv (late-binding)
  libs/locales/lib/en/translation.json
  libs/ui-lib/lib/cim/components/InfraEnv/EnvironmentDetails.tsx
  libs/ui-lib/lib/cim/components/InfraEnv/InfraEnvFormPage.tsx
  libs/ui-lib/lib/cim/components/InfraEnv/OpenshiftVersionDropdown.tsx
  libs/ui-lib/lib/cim/types/k8s/agent-service-config.ts
  libs/ui-lib/lib/cim/types/k8s/infra-env-k8s-resource.ts
Labels: size/L, jira/valid-reference

#2689 ACM-13211: Low text visibility in label input field due to dark background color in ACM infrastructure environment creation page
  libs/ui-lib/lib/common/components/ui/formik/LabelField.css
Labels: lgtm, size/XS, jira/valid-reference

#2714 MGMT-19204: Filter OpenShift versions based on availability in AgentServiceConfig
  libs/ui-lib/lib/cim/components/ClusterDeployment/ACMClusterDeploymentDetailsStep.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/ClusterDeploymentDetailsForm.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/ClusterDeploymentDetailsStep.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/ClusterDetailsFormFields.tsx
  libs/ui-lib/lib/cim/components/common/CpuArchitectureDropdown.tsx
  libs/ui-lib/lib/cim/components/helpers/versions.ts
Labels: lgtm, size/L, jira/valid-reference

#2715 MGMT-19118: Launch openshift console and Abort Installation buttons got connected
  libs/ui-lib/lib/ocm/components/clusterDetail/ClusterDetailsButtonGroup.tsx
Labels: size/S, jira/valid-reference

#2677 MGMT-19058: Add OpenShif AI operator
  libs/locales/lib/en/translation.json
  libs/types/assisted-installer-service.d.ts
  libs/ui-lib-tests/cypress/fixtures/cluster/validation-info-host-discovery.ts
  libs/ui-lib/lib/common/config/constants.ts
  libs/ui-lib/lib/common/config/docs_links.ts
  libs/ui-lib/lib/common/types/clusters.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/operators/OpenShiftAICheckbox.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/operators/OpenShiftAIRequirements.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/Operators.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/OperatorsStep.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/_wizardTransition.test.ts
  libs/ui-lib/lib/ocm/components/clusterWizard/wizardTransition.ts
  libs/ui-lib/lib/ocm/components/featureSupportLevels/featureStateUtils.ts
  libs/ui-lib/lib/ocm/services/OperatorsService.tsx
Labels: size/L, jira/valid-reference
