Repository openshift-assisted/assisted-installer-ui, pull requests merged in 2024-02, with the labels that each got.

#2473 MGMT-14714: Hypershift agent platform autoscaling
  libs/locales/lib/en/translation.json
  libs/ui-lib/lib/cim/components/Hypershift/DetailsPage/ClusterInstallationProgress.tsx
  libs/ui-lib/lib/cim/components/Hypershift/DetailsPage/NodePoolsProgress.tsx
  libs/ui-lib/lib/cim/components/Hypershift/DetailsPage/NodePoolsTable.tsx
  libs/ui-lib/lib/cim/components/Hypershift/HostedClusterWizard/HostsStep/HostsForm.tsx
  libs/ui-lib/lib/cim/components/Hypershift/HostedClusterWizard/HostsStep/HostsStep.tsx
  libs/ui-lib/lib/cim/components/Hypershift/HostedClusterWizard/HostsStep/NodePoolForm.tsx
  libs/ui-lib/lib/cim/components/Hypershift/HostedClusterWizard/HostsStep/types.ts
  libs/ui-lib/lib/cim/components/Hypershift/forms/NodePoolAgentsForm.tsx
  libs/ui-lib/lib/cim/components/Hypershift/modals/AddNodePoolModal.tsx
  libs/ui-lib/lib/cim/components/Hypershift/modals/ManageHostsModal.tsx
  libs/ui-lib/lib/cim/components/Hypershift/modals/NodePoolForm.tsx
  libs/ui-lib/lib/cim/components/Hypershift/types.ts
Labels: size/L, jira/valid-reference

#2492 MGMT-16776: DHCP checkbox should be removed as there is no sdn/ovn selection in OCP version 4.15 - 2.30
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfiguration.tsx
Labels: lgtm, size/XS, OCM, jira/valid-reference

#2491 MGMT-16776: DHCP checkbox should be removed as there is no sdn/ovn selection in OCP version 4.15
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfiguration.tsx
Labels: lgtm, size/XS, OCM, jira/valid-reference

#2490 MGMT-16710: Operators page - LVMS and ODF are disabled once you turn on CNV+LVMS
  libs/ui-lib/lib/ocm/components/featureSupportLevels/featureStateUtils.ts
Labels: size/S, jira/valid-reference

#2493 MGMT-16710: Operators page - LVMS and ODF are disabled once you turn on CNV+LVMS - 2.30
  libs/ui-lib/lib/ocm/components/featureSupportLevels/featureStateUtils.ts
Labels: size/S, OCM, jira/valid-reference

#2497 Fix problems with Sentry.Severity.Error using alternative way to send errors to Sentry
  libs/ui-lib/lib/common/api/utils.ts
Labels: lgtm, size/XS, OCM

#2498 Fix problems with Sentry.Severity.Error using alternative way to send errors to Sentry - 2.30
  libs/ui-lib/lib/common/api/utils.ts
Labels: lgtm, size/XS, OCM

#2476 MGMT-16442: Add warning when user selects LVM to format disks
  libs/ui-lib/lib/ocm/components/hosts/OdfLvmDisksManualFormattingHint.tsx
  libs/ui-lib/lib/ocm/components/hosts/StorageAlerts.tsx
Labels: size/S, OCM, jira/valid-reference

#2496 MGMT-16810: Changes in hosts' "Status" filter in host inventory make the filter useless
  libs/ui-lib/lib/cim/components/Agent/tableUtils.tsx
  libs/ui-lib/lib/cim/components/InfraEnv/InfraTableToolbar.tsx
Labels: size/S

#2505 FIX: Change Nodejs version in Containerfile
  apps/assisted-ui/Containerfile
Labels: size/XS

#2501 MGMT-16810: Changes in hosts' "Status" filter in host inventory make the filter useless [BACKPORT 2.10]
  libs/ui-lib/lib/cim/components/Agent/tableUtils.tsx
  libs/ui-lib/lib/cim/components/InfraEnv/InfraTableToolbar.tsx
Labels: lgtm, size/S, jira/valid-reference

#2495 MGMT-15805: OpenshiftSDN is the default SDN selected when installing a new cluster
  libs/ui-lib/lib/cim/components/ClusterDeployment/NetworkConfiguration.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/networkConfigurationValidation.ts
  libs/ui-lib/lib/common/components/clusterConfiguration/utils.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/networkConfigurationValidation.ts
Labels: size/S, jira/valid-reference

#2494 MGMT-15805: OpenshiftSDN is the default SDN selected when installing a new cluster [2.8-cim BACKPORT]
  libs/ui-lib/lib/cim/components/ClusterDeployment/NetworkConfiguration.tsx
  libs/ui-lib/lib/cim/components/ClusterDeployment/networkConfigurationValidation.ts
  libs/ui-lib/lib/common/components/clusterConfiguration/utils.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/networkConfigurationValidation.ts
  libs/ui-lib/lib/ocm/components/fetching/fetchEvents.ts
Labels: lgtm, size/S, jira/valid-reference

#2500 MGMT-16841: Failed to add host when infraenv has networkType of DHCP
  libs/ui-lib/lib/cim/components/Agent/BMCForm.tsx
Labels: lgtm, size/M, jira/valid-reference

#2503 MGMT-16967: Modify tooltip text for CNV and MCE to inform user that can also select LVMS
  libs/ui-lib/lib/ocm/components/clusterConfiguration/operators/CnvCheckbox.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/operators/CnvHostRequirements.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/operators/MceCheckbox.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/operators/OdfCheckbox.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/operators/utils.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/OperatorsStep.tsx
Labels: size/L, OCM, jira/valid-reference

#2509 MGMT-17012: Solving styling issues in Networking Page
  libs/ui-lib/lib/common/components/clusterWizard/networkingSteps/ManagedNetworkingControlGroup.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/NetworkConfiguration.tsx
Labels: size/L, OCM, jira/valid-reference
