Repository openshift-assisted/assisted-installer-ui, pull requests merged in 2024-04, with the labels that each got.

#2534 MGMT-17377: Change the way to validate field values in networking page
  libs/ui-lib/lib/common/components/ui/formik/validationSchemas.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/VirtualIPControlGroup.tsx
Labels: lgtm, size/M, OCM, jira/valid-reference

#2535 MGMT-17377: Change the way to validate field values in networking page - 2.31
  libs/ui-lib/lib/common/components/ui/formik/validationSchemas.ts
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/VirtualIPControlGroup.tsx
Labels: lgtm, size/M, OCM, jira/valid-reference

#2525 MGMT-12995: Allow users to use custom OCP releases
  libs/locales/lib/en/translation.json
  libs/ui-lib-tests/cypress.config.ts
  libs/ui-lib-tests/cypress/fixtures/day2-flow/day2-responses.ts
  libs/ui-lib-tests/cypress/fixtures/infra-envs/openshift-versions.ts
  libs/ui-lib-tests/cypress/integration/create-sno/0-create-cluster.cy.ts
  libs/ui-lib-tests/cypress/integration/ui-behaviour/cluster-creation.cy.ts
  libs/ui-lib-tests/cypress/support/interceptors.ts
  libs/ui-lib/lib/common/api/assisted-service/SupportedOpenshiftVersionsAPI.ts
  libs/ui-lib/lib/common/components/clusterWizard/clusterDetailsValidation.ts
  libs/ui-lib/lib/common/components/clusterWizard/types.ts
  libs/ui-lib/lib/common/components/ui/OpenShiftVersionDropdown.tsx
  libs/ui-lib/lib/common/components/ui/OpenshiftSelectWithSearch.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmOpenShiftVersionSelect.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OpenShiftVersionModal.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OpenshiftVersionModal.css
  libs/ui-lib/lib/ocm/components/clusterDetail/OpenShiftVersionDetail.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/ClusterDetails.tsx
  libs/ui-lib/lib/ocm/components/clusters/NewClusterPage.tsx
  libs/ui-lib/lib/ocm/hooks/useOpenshiftVersions.tsx
Labels: lgtm, size/XL, OCM, jira/valid-reference

#2537 MGMT-12995: Allow users to use custom OCP releases - 2.31
  libs/locales/lib/en/translation.json
  libs/ui-lib-tests/cypress.config.ts
  libs/ui-lib-tests/cypress/fixtures/day2-flow/day2-responses.ts
  libs/ui-lib-tests/cypress/fixtures/infra-envs/openshift-versions.ts
  libs/ui-lib-tests/cypress/integration/create-sno/0-create-cluster.cy.ts
  libs/ui-lib-tests/cypress/integration/ui-behaviour/cluster-creation.cy.ts
  libs/ui-lib-tests/cypress/support/interceptors.ts
  libs/ui-lib/lib/common/api/assisted-service/SupportedOpenshiftVersionsAPI.ts
  libs/ui-lib/lib/common/components/clusterWizard/clusterDetailsValidation.ts
  libs/ui-lib/lib/common/components/clusterWizard/types.ts
  libs/ui-lib/lib/common/components/ui/OpenShiftVersionDropdown.tsx
  libs/ui-lib/lib/common/components/ui/OpenshiftSelectWithSearch.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmOpenShiftVersionSelect.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OpenShiftVersionModal.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OpenshiftVersionModal.css
  libs/ui-lib/lib/ocm/components/clusterDetail/OpenShiftVersionDetail.tsx
  libs/ui-lib/lib/ocm/components/clusterWizard/ClusterDetails.tsx
  libs/ui-lib/lib/ocm/components/clusters/NewClusterPage.tsx
  libs/ui-lib/lib/ocm/hooks/useOpenshiftVersions.tsx
Labels: lgtm, size/XL, OCM, jira/valid-reference

#2538 MGMT-12995: Allow users to use custom OCP release-followup
  libs/locales/lib/en/translation.json
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmOpenShiftVersionSelect.tsx
Labels: size/XS, OCM, jira/valid-reference

#2540 MGMT-17475: Updating CPU and platform dropdowns when OCP custom release is selected
  libs/ui-lib/lib/common/components/ui/OpenShiftVersionDropdown.tsx
Labels: lgtm, size/XS, OCM, jira/valid-reference

#2541 MGMT-17471: Add maxLength to search input and not allow to select 'No results found' option
  libs/ui-lib/lib/common/components/ui/OpenshiftSelectWithSearch.tsx
Labels: size/XS, OCM, jira/valid-reference

#2546 MGMT-17475: Updating CPU and platform dropdowns when OCP custom release is selected - 2.31
  libs/ui-lib/lib/common/components/ui/OpenShiftVersionDropdown.tsx
Labels: size/XS, jira/valid-reference

#2547 MGMT-17471: Add maxLength to search input and not allow to select 'No results found' option - 2.31
  libs/ui-lib/lib/common/components/ui/OpenshiftSelectWithSearch.tsx
Labels: size/XS, jira/valid-reference

#2542 MGMT-17473: Add scrollbar to OpenshiftVersionDropdown component
  libs/ui-lib/lib/common/components/ui/OpenShiftVersionDropdown.tsx
  libs/ui-lib/lib/common/components/ui/OpenshiftVersionDropdown.css
Labels: size/XS, OCM, jira/valid-reference

#2548 MGMT-17477: Show dev preview badge when select custom OCP versions - 2.31
  libs/ui-lib/lib/common/components/ui/OpenShiftVersionDropdown.tsx
  libs/ui-lib/lib/common/components/ui/OpenshiftSelectWithSearch.tsx
Labels: size/XS, jira/valid-reference

#2552 MGMT-17501: Show all OCP versions in OpenshiftVersionDropdown (maintenance, production, beta, end-of-life
  libs/ui-lib/lib/common/components/clusterConfiguration/OpenShiftVersionSelect.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmOpenShiftVersionSelect.tsx
Labels: size/M, OCM

#2550 MGMT-17504: Adjusting behavior of the OpenshiftVersionModal buttons
  libs/ui-lib/lib/common/components/ui/OpenshiftSelectWithSearch.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OpenShiftVersionModal.tsx
Labels: size/M, OCM

#2554 MGMT-17476: Solving problems with validations in Advanced Networking fields in Networking Page
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/networkConfigurationValidation.ts
Labels: lgtm, size/S, OCM, jira/valid-reference

#2557 MGMT-17476: Solving problems with validations in Advanced Networking fields in Networking Page - 2.31
  libs/ui-lib/lib/ocm/components/clusterConfiguration/networkConfiguration/networkConfigurationValidation.ts
Labels: lgtm, size/S, OCM, jira/valid-reference

#2556 MGMT-17504: Adjusting behavior of the OpenshiftVersionModal buttons - 2.31
  libs/ui-lib/lib/common/components/ui/OpenshiftSelectWithSearch.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OpenShiftVersionModal.tsx
Labels: size/M, OCM, jira/valid-reference

#2555 MGMT-17501: Show all OCP versions in OpenshiftVersionDropdown - 2.31
  libs/ui-lib/lib/common/components/clusterConfiguration/OpenShiftVersionSelect.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmOpenShiftVersionSelect.tsx
Labels: size/M, OCM, jira/valid-reference

#2553 MGMT-17477: Update dev preview badge when user selects custom OCP release
  libs/ui-lib-tests/cypress/integration/use-cases/create-cluster/with-external-partner-integrations.cy.ts
  libs/ui-lib/lib/common/components/ui/OpenShiftVersionDropdown.tsx
  libs/ui-lib/lib/common/components/ui/OpenshiftSelectWithSearch.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmOpenShiftVersionSelect.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OpenShiftVersionModal.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OpenshiftVersionHelperText.tsx
Labels: size/L, OCM, jira/valid-reference

#2558 MGMT-17477: Update dev preview badge when user selects custom OCP release - 2.31
  libs/ui-lib-tests/cypress/integration/use-cases/create-cluster/with-external-partner-integrations.cy.ts
  libs/ui-lib/lib/common/components/ui/OpenShiftVersionDropdown.tsx
  libs/ui-lib/lib/common/components/ui/OpenshiftSelectWithSearch.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OcmOpenShiftVersionSelect.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OpenShiftVersionModal.tsx
  libs/ui-lib/lib/ocm/components/clusterConfiguration/OpenshiftVersionHelperText.tsx
Labels: lgtm, size/L, OCM, jira/valid-reference

#2544 MGMT-17186: Hosted cluster on BM in disconnected environment is not supported by UI [BACKPORT 2.10]
  libs/locales/lib/en/translation.json
  libs/ui-lib/lib/cim/components/Hypershift/HostedClusterWizard/HostsStep/HostsForm.tsx
  libs/ui-lib/lib/cim/components/Hypershift/HostedClusterWizard/HostsStep/HostsStep.tsx
  libs/ui-lib/lib/cim/components/Hypershift/HostedClusterWizard/HostsStep/types.ts
Labels: lgtm, size/M, jira/valid-reference

#2559 MGMT-16970: BMH status not updated in console during provisioning phase [BACKPORT 2.9]
  libs/ui-lib/lib/cim/components/InfraEnv/InfraEnvAgentTable.tsx
Labels: lgtm, size/S, jira/valid-reference

#2562 MGMT-17569: Patch Manifest - Second attempt to upload invalid content of manifest not declined - 2.31
  libs/ui-lib/lib/ocm/components/clusterConfiguration/manifestsConfiguration/components/CustomManifestsForm.tsx
Labels: lgtm, size/S, OCM

#2563 MGMT-17139: Enable "Change" button in Mass Change Hostname Modal when hostname value is not empty
  libs/ui-lib/lib/common/components/hosts/MassChangeHostnameModal.tsx
Labels: lgtm, size/XS, OCM, jira/valid-reference

#2564 MGMT-17139: Enable "Change" button in Mass Change Hostname Modal when hostname value is not empty - 2.31
  libs/ui-lib/lib/common/components/hosts/MassChangeHostnameModal.tsx
Labels: size/XS, OCM, jira/valid-reference

#2560 [OCMUI-1145] PreviewBadge: allow ReactNode content
  libs/ui-lib/lib/common/components/ui/DeveloperPreview.tsx
  libs/ui-lib/lib/common/components/ui/PreviewBadge.tsx
  libs/ui-lib/lib/common/components/ui/TechnologyPreview.tsx
Labels: size/S
